<ul class="tree-grid">
    {% for tree in trees %}
        <li>
            <a class="" href="{{path(routename, {'treeIndex': tree.treeIndex})}}">
                {% if tree.iconFileName %}
                <span class="icon">
                    <img src="{{ asset("bundles/darkishwebsite/images/ticons/" ~ tree.iconFileName ~ ".png") }}">
                </span>
                {% endif %}

                <div class="tree-titles">
                    <h3>
                        {{tree.title}}
                    </h3>
                    <span class="tree-subtitle">{{ tree.subTitle }}</span>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>