@font-face {
     font-family: 'cocon';
     src: url('../fonts/cocon-light.otf') format('opentype');
font-weight: normal;
font-style: normal;
}


@font-face {
    font-family: 'BMitra';
    src: url('../fonts/BMitra.eot');
    src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BMitra.woff') format('woff'),
         url('../fonts/BMitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMitraBold';
    src: url('../fonts/BMitraBold.eot');
    src: url('../fonts/BMitraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BMitraBold.woff') format('woff'),
         url('../fonts/BMitraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BRoya';
    src: url('../fonts/BRoya.eot');
    src: url('../fonts/BRoya.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BRoya.woff') format('woff'),
         url('../fonts/BRoya.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BTabassom';
    src: url('../fonts/BTabassom.eot');
    src: url('../fonts/BTabassom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTabassom.woff') format('woff'),
         url('../fonts/BTabassom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BTitr';
    src: url('../fonts/BTitr.eot');
    src: url('../fonts/BTitr.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTitr.woff') format('woff'),
         url('../fonts/BTitr.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BTitrTGE';
    src: url('../fonts/BTitrTGE.eot');
    src: url('../fonts/BTitrTGE.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTitrTGE.woff') format('woff'), 
         url('../fonts/BTitrTGE.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot');
    src: url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BYekan.woff') format('woff'),
         url('../fonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BTraffic';
    src: url('../fonts/BTraffic.eot');
    src: url('../fonts/BTraffic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTraffic.woff') format('woff'),
         url('../fonts/BTraffic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


 @font-face {
    font-family: 'BNasim';
    src: url('../fonts/BNasim.eot');
    src: url('../fonts/BNasim.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BNasim.woff') format('woff'),
         url('../fonts/BNasim.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
	font-family: BMitra;
	font-size: 18px;
    .container {
      min-width: 1170px;
      width: 90%;
    }
	.header-wrapper {
		background: $green;
		border-bottom: 2px solid #f17022;
		margin-bottom: 0px;
		.navbar-default {
			height: 80px;
			border: 0;
			margin-bottom: 0;
			background: transparent;
			.container-fluid {
				padding-left: 0;
				padding-right: 0;
			}
			.navbar-header {
				height: 80px;
				button, a {
					height: 80px;
					
				}
				a {
					line-height: 50px;
					color: white;
					img {
						height: 50px;
					}
				}
			}
			#navbar {
				.navbar-nav {
					li {
						height: 80px;
						a {
							height: 80px;
							color: white;
							line-height: 50px;
							font-size: 18px;
							i {
								font-size: 16px;
							}
							-moz-transition: background .02s ease-out;
							-ms-transition: background .02s ease-out;
							-webkit-transition: background .02s ease-out;
							transition: background .02s ease-out;
						}

						&:hover, &.active {
							a {
								background-color: #f17022;
							}
						}
					}
				}	
			}
		}
	}

	.secondary-header-wrapper {
	  border-bottom: 2px solid $green;
	  background: #fff;
	  position: relative;
	  .container {
		.navbar-default {
		  background-color: transparent;
		  border: 0;
		  margin-bottom: 0;
		}
	  }
	  ul.nav {
		clear: both;
		li {
          a {
            padding: 10px 10px 10px 10px;
          }
		}
	  }

	  .news-mag {
		position: absolute;
		top: -43px;
		left: 45px;
	  }
	  .download-app {
		position: absolute;
		top: 50px;
		left: 46px;
	  }
	}
	
	.breadcrumb-wrapper {
		background: #EFEFEF;
		padding: 5px 0;
		margin-bottom: 10px;
		font-size: 18px;
		color: black;
		ul.breadcrumb {
			margin-bottom: 0;
			background-color: transparent;
			padding: 0 10px;
			li {
				.separator {
					margin: 0 5px;
				}
				&:before {
					content: none;
				}
			}
		}
		.breadcrumb-label {
			color: black;
		}
		i {
			font-size: 14px;
		}
	}

	.main-container {
		.content {
			.page-header-box {
				position: relative;
				.image-box {
					img {
						width: 100%;
					}
				}
				.date {
					position: absolute;
					background-color: #6bcecb;
					border-radius: 40px;
					width: 80px;
					height: 80px;
					bottom: -40px;
					left: 10px;
					border: 3px solid white;
					color: white;
					.day {
						clear: both;
						display: block;
						text-align: center;
						font-size: 20px;
						line-height: 10px;
						margin-top: 8px;
					}	
					.month {
						clear: both;
						display: block;
						text-align: center;
						font-size: 22px;
					}
					.time {
						clear: both;
						display: block;
						text-align: center;
					}
				}

			}

			.page-title {
				color: $orange;
				font-family: cocon;
                border-bottom: 2px solid;
                padding-bottom: 3px;
			}

			.page-subtitle {
				font-family: cocon;
				border-bottom: 2px solid #eee;
				padding-bottom: 10px;
			}
		}

      .sidebar-first {
        margin-top: 5px;
        .sidebar-first-inner {
          &.affix {
            bottom: 0;
          }
        }
      }
	}

	.footer-wrapper {
		background: $green;
		border-top: 3px solid #f17022;
		margin-top: 10px;
		color: white;
	}

	.bottom-wrapper {
		background-color: $orange;
		color: white;
		.copyright {
			height: 50px;
			line-height: 50px;
		}
		.social-link {
		  ul {
		    display: inline-block;
		    float: left;
		    margin: 5px 0;
		    li {
		      float: right;
		      list-style: none;
		      margin-right: 10px;
		      a {
		          width: 40px;
		          height: 40px;
		          display: inline-block;
		          text-align: center;
		          border-radius: 20px;
		          background-color: #6bcecb;
		          &:hover {
		            background-color: white;
		            i.fa {
		              color: #f17022;
		            }
		          }
		          i.fa {
		            color: white;
		            font-size: 20px;
		            margin-top: 10px;
		          }
		      }

		    }
		  }
		}
	}
}

.media-right, .media>.pull-right {
  padding-left: 10px;
  padding-right: initial;
}

.media-left, .media>.pull-left {
  padding-right: 10px;
  padding-left: initial;
}

img {
  max-width: 100%;
}

.nav-tabs > li > a, .tabs-right>li>a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#audio-player {
  position: fixed;
  left: 0;
  top: 0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  margin-right: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

a.dk-video-modal {
  display: inline-block;
  position: relative;
  img {
    width: 350px;
  }
  span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/64/cadr-video.png);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  &:hover span {
    opacity: 0.8;
  }
}

a.dk-audio-play {
  width: 120px;
  height: 87px;
  display: inline-block;
  background-image: url(../images/64/cadr-audio.png);
  background-position: center center;
  background-repeat: no-repeat;
}



.media {
  img {
    max-width: none;
  }
}

.panel {
  border: 0;
  .panel-heading {
    border-bottom: 1px solid #eeeeee;
    border-top: 2px solid #ff6600;
    text-align: center;
    padding: 10px 0;
    background-color: #FDF6F6;
    color: inherit;
    font-size: 30px;
    .panel-title {
      font-size: 30px;
    }
  }
  .panel-body {
    background-color: #F7F7F7;
  }
}

.jumbotron {
  background-color: #F7F7F7;
}