/* Style the Sequence container */



    .navbar-default.front-navbar {
      background-color: #009BFF;
      border: 0;
      border-bottom: 2px solid #F17022;
      margin-bottom: 0;
      z-index: 10;
      top: 1px;
      @include breakpoint(sm, md) {
        .navbar-nav > li > a {
          font-size: 14px;
        }
      }
      @include breakpoint(sm) {
        .navbar-nav > li > a {
          padding-right: 5px;
          padding-left: 5px;
        }
      }

      & > .container-fluid {
        .navbar-secondary-menu {
          @include breakpoint(md, lg) {
            border-left: 2px solid white;
          }

        }
      }
      .navbar-app-download.navbar-collapse.collapse {
        @include breakpoint(xs, sm) {
          display: none !important;
        }
      }
      .navbar-brand {
        padding: 10px 20px 0 10px;
        img {
          width: 120px;
        }

      }
      .navbar-nav > li > a {
        color: white;
      }

      .navbar-secondary-menu {
        ul.menu-primary:last-child {
          margin-left: 0;
          & > li > a {
            color: #c1dffa;
          }
        }
      }

    }


.sequence-wrapper {
  padding: 0;
  padding-top: 50px;
  #sequence {
    position: relative;
    width: 100%;
    height: 466px;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
  }

  /* Reset */
  #sequence .seq-canvas,
  #sequence .seq-canvas > * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* Make the canvas the same dimensions as the container and prevent lines from
     wrapping so each step can sit side-by-side */
  #sequence .seq-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 0;
  }

  /* Make the steps the same size as the container and sit side-by-side */
  #sequence .seq-canvas > .row {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: center;
    color: white;
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /* Used to vertically center align the .content element */
  #sequence .seq-canvas > .row:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    @include breakpoint(xs) {
      height: 50%;
    }
  }

  /* Vertically center align the .content element */
  #sequence .content {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    float: none;
    &.top {
      vertical-align: top;
      @include breakpoint(xs) {
        vertical-align: middle;
      }
    }

    &.bottom {
      vertical-align: bottom;
      @include breakpoint(xs) {
        vertical-align: middle;
      }
    }
    h2, h3 {
      font-family: cocon;
    }
    h2 {
      text-shadow: 1px 4px 4px darkslategray;
      font-size: 30px;
      line-height: 60px;
      img {
        height: 60px;
      }
    }
  }

  #sequence .step1 {
    background-color: #279fe5;
  }

  #sequence .step2 {
    background-color: #f96852;
  }

  #sequence .step3 {
    background-color: #2bbf8e;
  }

  #sequence h2,
  #sequence h3 {
    margin: 0;
    display: block;
    line-height: 120%;
  }

  #sequence h2 {
    margin-bottom: .5em;
    font-family: 'Roboto', sans-serif;
    font-size: 2.6em;
  }

  #sequence h3 {
    font-size: 1.4em;
  }

  /* Starting positions */
  #sequence h2,
  #sequence h3 {
    opacity: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  #sequence h2 {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  #sequence h3 {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }

  /* Animate in positions for content */
  #sequence .seq-in h2,
  #sequence .seq-in h3 {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* Animate out positions for content */
  #sequence .seq-out h2,
  #sequence .seq-out h3 {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* Starting positions */
  #sequence h2,
  #sequence h3 {
    opacity: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  #sequence h2 {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  #sequence h3 {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }

  /* Animate in positions for content */
  #sequence .seq-in h2,
  #sequence .seq-in h3 {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }


  /* Animate out positions for content */
  #sequence .seq-out h2,
  #sequence .seq-out h3 {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .seq-next {
    position: absolute;
    top: 50%;
    background: transparent;
    right: 2%;
    border: 0;
    font-size: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    text-align: center;
    padding: 0;
    .icon {
      padding: 0;
      margin: 0;
      width: 60px;
      height: 60px;
      background: rgba(0, 0, 0, 0.1);
    }
    &:hover {
      color: white;
    }
  }

  .seq-prev {
    position: absolute;
    top: 50%;
    background: transparent;
    left: 2%;
    border: 0;
    font-size: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    text-align: center;
    padding: 0;
    .icon {
      padding: 0;
      margin: 0;
      width: 60px;
      height: 60px;
      background: rgba(0, 0, 0, 0.1);
    }
    &:hover {
      color: white;
    }
  }

  #sequence:hover {
    .seq-prev, .seq-next {
      .icon {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .seq-pagination {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    bottom: 30px;
    li {
      display: inline-block;
      display: inline-block;
      width: 12px;
      height: 12px;
      text-indent: -10000px;
      background: white;
      border-radius: 10px;
      &:hover {
        cursor: pointer;
      }
      &.seq-current {
        color: $orange;
        background-color: $orange;
        &:hover {
          cursor: auto;
        }
      }
    }
  }
}


.about-kish-wrapper {
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  position: relative;
  & > .row {
    background-color: #264a60;
    padding: 50px 100px;
    @include breakpoint(xs, sm) {
      padding: 0px 0px;
    }
    & > .col {
      .info-box {
        background-color: #1D4259;
        margin:20px;
        text-align: center;
        padding: 20px 40px;
        h2 {
          color: #00AED3;
          margin: 10px 0;
          font-size: 22px;
        }
        h3 {
          color: #E2E9ED;
          font-size: 18px;
        }

        a.btn {
          background-color: #00B3D8;
          color: #E2E9ED;
          border: none;
          font-size: 18px;
          padding: 4px 10px;
          margin-top: 20px;
        }
      }

    }
  }

  img.center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    border: 10px solid #264a60;
    margin-left: -100px;
    margin-top: -100px;
    @include breakpoint(xs) {
      display: none;
    }
    @include breakpoint(sm) {
      width: 150px;
      height: 150px;
      margin-left: -75px;
      margin-top: -75px;
    }

  }

}

.kish-festival-wrapper {
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  background-color: #DFE6EB;
  text-align: center;
  padding: 40px 200px 30px 200px;
  @include breakpoint(xs, sm) {
    padding: 40px 50px 30px 50px;
  }
  background-image: url(../images/front_images/kish_festival_background.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  & > .row {
    margin-top: 30px;
    .thumbnail {
      img {
        height: 150px;
        object-fit: cover ;
        -o-object-fit: cover ;
        width: 100%;
      }
    }
  }

}


.kish-jobs-wrapper {
  background-color: #3B4B54;
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  text-align: center;
  color: #E2E9ED;
  &>h3.blue-text-class {
    color:#00ACCE;
    margin-top: 30px;
  }
  .first-row {
    margin-top:20px;
    margin-bottom: 20px;

    & > .col {
      @include breakpoint(xs) {
        margin-bottom: 20px;
      }
    }

    .blue-subtext-class {
      color: #E2E9ED;
    }
    .blue-button-class {
      .arrow-right {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;

        border-left: 20px solid #00B3D8;
        display: inline-flex;
      }

      button {
        background-color: #00B3D8;
        color: #E2E9ED;
      }
    }
  }

  .trees {
    background-color: #26343F;
    padding: 50px 20px;
    margin-bottom: 50px;
    & > .kish-jobs-card-class {
      height: 220px;
      img {
        width: 96px;
        height: 96px;
        object-fit: scale-down;
        border: 4px solid #3B4B54;
        border-radius: 48px;

      }
      h3 {
        color: #00ACCE;
        height: 40px;
        object-fit: contain;
        font-size: 16px;
        margin: 10px 0 0 0;

      }
      h4 {
        font-size: 14px;
        margin: 5px 0 0 0;
      }
    }

  }
  #submit-record {
    width: 90%;
    margin-left: -45%;
    margin-right: -45%;
  }
}

.kish-sponsor-wrapper {
  background-color: #26343F;
  padding: 50px 20px;
  margin-bottom: 50px;
  img {
    @include breakpoint(xs) {
      max-width: 320px;
      margin-bottom: 10px;
    }
  }
}

.kish-map-wrapper {
  background-color:#DFE6EB;
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  padding-top: 20px;
  .dark-text-class {
    text-align: center;
  }
  .dark-subtext-class {
    text-align: center;
  }

  .green-button-class {
    text-align: center;
    .arrow-right {
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;

      border-left: 20px solid #00B4A0;
      display: inline-flex;
    }

    a.btn {
      background-color: #00B4A0;
      color: #E2E9ED;
    }
  }

  .map-images {
    margin-top: 10px;
    text-align: center;
    & > a {

    }
  }

  & > .container {
    @include breakpoint(md, lg) {
      width: 100%;
    }
  }
}


.kish-centers-wrapper {
  background-color: #2C485F;
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  padding: 40px;
  @include breakpoint(xs, sm) {
    padding: 5px;
  }
  .container {
    @include breakpoint(lg) {
      width: 70%;
      min-width: 960px;
    }
  }
  .kish-centers-card-class {
    text-align: center;
    & > div {
      background-color: #152935;
      padding: 10px;
      margin: 10px 0;
      border-bottom: 3px solid #00C0A9;
    }
    a.btn {
      display: block;width: 130px;
      margin: auto;
      height: 40px;
      line-height: 40px;
      margin-top: 20px;
      padding: 0 10px;
    }
  }
  a.btn.dark-button-class {
    border: 2px solid #264054;
    color: #00C0A9;
    background-color: transparent;
    &:hover {
      color: white;
    }
  }
}


.kish-news-wrapper {
  background-image: url(../images/front_images/kish_news_background.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  padding-top: 20px;
  .right {
    text-align: center;
    a.btn {
      margin: 20px;
    }
  }
  .left {
    text-align: center;
    a.btn {
      margin: 20px;
    }
  }



  .news-card-class {
    background-color: rgba(33, 62, 82, 0.8);
    padding: 5px;
    .news-card-text-class {
      color: #00ACCE;
      font-size: 20px;
    }
    .news-card-subtext-class {
      color: #BDC6CC;
      font-size: 16px;
      margin-bottom: 0;
    }

    .media-body {
      position: relative;
    }

    .news-card-date-class {
      position: absolute;
      left: 3px;
      bottom: 3px;
      color: #BDC6CC;
      font-size: 13px;
    }

  }

  .announcement-card-class {
    background-color: rgba(33, 62, 82, 0.6);
    padding: 5px;
    .announcement-card-text-class {
      color: #00ACCE;
      font-size: 20px;
    }
    .announcement-card-subtext-class {
      color: #BDC6CC;
      font-size: 16px;
      margin-bottom: 0;
    }

    .media-body {
      position: relative;
    }

    .announcement-card-date-class {
      position: absolute;
      right: 3px;
      bottom: 3px;
      color: #BDC6CC;
      font-size: 13px;
    }

  }

}

.kish-forum-wrapper {
  background-color: #00A5C9;
  background-image: url(../images/front_images/kish_forum_background.png);
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  padding-top: 20px;
  position: relative;
  .light-text-class {
    font-size: 20px;
  }

  .light-subtext-class {
    font-size: 18px;
    margin-bottom: 100px;
    @include breakpoint(xs) {
      margin-bottom: 20px;
    }
  }



  .right {
    text-align: center;
    a.btn {
      margin: 50px;
      @include breakpoint(xs) {
        margin: 10px 0;
      }
    }
  }
  .left {
    text-align: center;
    a.btn {
      margin: 50px;
      @include breakpoint(xs) {
        margin: 10px 0;
      }
    }
  }

  .kish-forum-over-image-class {
    position: absolute;
    left: 50%;
    margin-left: -123px;
    bottom: 30px;
    @include breakpoint(xs) {
      position: static;
      display: block;
      margin: 10px auto;

    }
  }
}

.kish-classified-wrapper {
  background-color: #DFE6EB;
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  padding-top: 20px;
  text-align: center;
  .dark-text-class {
    text-align: center;
  }
  .dark-subtext-class {
    text-align: center;
  }

  .green-button-class {
    text-align: center;
    .arrow-right {
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;

      border-left: 20px solid #00B4A0;
      display: inline-flex;
    }

    a.btn {
      background-color: #00B4A0;
      color: #E2E9ED;
    }
  }

  .kish_classified-images {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
  }
}


.kish-app-wrapper {
  background-color: #050F1E;
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  position: relative;
  .right {
    text-align: center;
    z-index: 2;
    .kish-app-image-right-class {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  .left {
    text-align: center;
    .kish-app-image-left-class {
      margin-bottom: 20px;
    }
    .light-subtext-class {
      color: #CDE1E9;
    }

  }
  .kish-app-button-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #252F3D;
    z-index: 1;
    @include breakpoint(xs) {
      position: static;
      display: inline-block;
      width: 100%;
    }
    & > .col {
      text-align: center;
      padding: 10px;
      a {
        margin: 0 2%;
        float: right;
        width: 46%;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}








.green-text-class {
  color: #00C0A9;
}

.green-subtext-class {
  color: #BDC6CC;
}



a.btn.green-button-class {
  background-color: #00B4A0;
  color: #E2E9ED;
}

a.btn.dark-button-class {
  background-color: #24638A;
  border: 0;
  color: #E2E9ED;
}


.light-text-class {
  color: #CDE1E9;
}

.light-subtext-class {
  color: #005B94;
}