.offer-wrapper {
  font-family: 'BYekan', 'YekanNumbers', Tahoma;
  border-top: 2px solid #E55D62;
  position: relative;
  margin-top: 60px;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(#f5faff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f5faff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5faff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f5faff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5faff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f5faff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5faff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f5faff); /* Standard syntax */
  .cms-block {
    text-align: center;
  }
  .offer-block-title {
    text-align: center;
    color: #FF0000;
    font-size: 20px;
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 60px;
    position: relative;
    line-height: 60px;
    .icon {
      position: absolute;
      left: 0px;
      top: 0;
      font-size: 60px;
      width: 60px;
      height: 60px;
    }
  }
  img.offer-right {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  img.offer-left {
    position: absolute;
    top: -5px;
    left: 40px;
  }
}



#offer-carousel {
  width: 80%;
  margin: auto;
  img {
    margin-bottom: 0;
  }
  .owl-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .owl-prev, .owl-next {
      font-family: cursive;
      font-size: 60px;
      border-radius: 0;
      width: 40px;
      height: 40px;
      line-height: 20px;
      text-align: center;
    }
    .owl-prev {
      position: absolute;
      right: -50px;
      bottom: 0;
    }
    .owl-next {
      position: absolute;
      left: -50px;
      bottom: 0;


    }
  }
}