.record {
	&.mode-full {
		
	}
	&.mode-list {
		img {
			float: right;
			margin-left: 10px;
		}
		clear: both;
		display: inline-block;
		width: 100%;
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid $orange;
	}

	&.mode-grid {
		max-width: 320px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $orange;
		position: relative;
		img {
			clear: both;
			display: block;
		}
	  	.stats {
			position: absolute;
			top: 150px;
			left: 10px;
			padding: 3px;
			background: rgba(255,255,255,0.7);
			height: 22px;
			font-size: 16px;

		}
		h4 {
			margin: 10px 0 0 0;

		}
	}

  .store-products-title {
	border-bottom: 1px solid $orange;
	display: inline-block;
	margin-bottom: 30px;
  }
  
  .record-store-product {
	float:right;
	margin: 10px;
	margin-top: 0;
	-webkit-box-shadow: inset 0px 0px 0 1px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: inset 0px 0px 0 1px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0px 0px 0 1px rgba(0, 0, 0, 0.06);
	padding: 10px;
	.product-image {
	  width: 194px;
	  height: 194px;
	}
	.price {
	  color: lightseagreen;
	  &.discounted {
		color: darkred;
		text-decoration: line-through;
	  }
	}
	.discounted-price {
	  color: lightseagreen;
	}
  }
}