ul.recordtree-list {
	display: inline-block;
	width: 100%;
	li {
		float: right;
		width: 33%;
	}
}

ul.recordtree-grid {
  display: inline-block;
  width: 100%;
  li {
	float: right;
	width: 49%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(237, 237, 237);
	margin-right: 1%;
	a.icon {
	  float: right;
	  margin-left: 10px;
	}

	.tree-titles {
	  float: right;
	  h3 {
		margin-top: 5px;
	  }
	}
  }
}



div.record-list {
	display: inline-block;
	width: 100%;
	.record-item {
		float: right;
		width: 50%;
	}
}

