



div.record-list {
	display: inline-block;
	width: 100%;
	.record-item {
		float: right;
		width: 50%;
	}
}

.record-tree-operation {
  position: absolute;
  left:10px;
  background-color: white;
  top: -83px;
  a {
    width: 60px;
    word-wrap: break-word;
    display: block;
    text-align: center;
    background: $orange;
    border-radius: 30px;
    height: 60px;
    line-height: 20px;
    padding: 10px 0;
    margin: 0 5px;
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
      background-color: #00c8ff;
    }
  }
}
