.sponsors-block {
  a {
    margin-bottom: 10px;
    display: block;

    img {
     -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
     box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    }
  }
}