@font-face {
  font-family: yekan;
  src: url("../fonts/yekan/yekan.eot");
  src: url("../fonts/yekan/yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/yekan.woff") format("woff"), url("../fonts/yekan/yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../sass/customer.scss */
body {
  font-family: yekan;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 13, ../sass/customer.scss */
body .form-control, body .select2-search input[type=text] {
  font-family: yekan;
}
