/* line 1, ../sass/emotions.scss */
.dk-emot {
  width: 35px;
  height: 35px;
}
/* line 4, ../sass/emotions.scss */
.dk-emot.emot-cool {
  background-image: url("../images/emotions/(cool).png");
}
/* line 7, ../sass/emotions.scss */
.dk-emot.emot-eskenas {
  background-image: url("../images/emotions/(eskenas).png");
}
/* line 10, ../sass/emotions.scss */
.dk-emot.emot-airplane {
  background-image: url("../images/emotions/(airplane).png");
}
/* line 13, ../sass/emotions.scss */
.dk-emot.emot-angry {
  background-image: url("../images/emotions/(angry).png");
}
/* line 16, ../sass/emotions.scss */
.dk-emot.emot-baseball {
  background-image: url("../images/emotions/(baseball).png");
}
/* line 19, ../sass/emotions.scss */
.dk-emot.emot-basketball {
  background-image: url("../images/emotions/(basketball).png");
}
/* line 22, ../sass/emotions.scss */
.dk-emot.emot-bicycle {
  background-image: url("../images/emotions/(bicycle).png");
}
/* line 25, ../sass/emotions.scss */
.dk-emot.emot-burger {
  background-image: url("../images/emotions/(burger).png");
}
/* line 28, ../sass/emotions.scss */
.dk-emot.emot-car {
  background-image: url("../images/emotions/(car).png");
}
/* line 31, ../sass/emotions.scss */
.dk-emot.emot-clap {
  background-image: url("../images/emotions/(clap).png");
}
/* line 34, ../sass/emotions.scss */
.dk-emot.emot-cloud {
  background-image: url("../images/emotions/(cloud).png");
}
/* line 37, ../sass/emotions.scss */
.dk-emot.emot-coffee {
  background-image: url("../images/emotions/(coffee).png");
}
/* line 40, ../sass/emotions.scss */
.dk-emot.emot-confused {
  background-image: url("../images/emotions/(confused).png");
}
/* line 43, ../sass/emotions.scss */
.dk-emot.emot-crazy {
  background-image: url("../images/emotions/(crazy).png");
}
/* line 46, ../sass/emotions.scss */
.dk-emot.emot-cry {
  background-image: url("../images/emotions/(cry).png");
}
/* line 49, ../sass/emotions.scss */
.dk-emot.emot-cupcake {
  background-image: url("../images/emotions/(cupcake).png");
}
/* line 52, ../sass/emotions.scss */
.dk-emot.emot-darkish_logo {
  background-image: url("../images/emotions/(darkish_logo).png");
  width: 74px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 59, ../sass/emotions.scss */
.dk-emot.emot-depressed {
  background-image: url("../images/emotions/(depressed).png");
}
/* line 62, ../sass/emotions.scss */
.dk-emot.emot-exclam {
  background-image: url("../images/emotions/(exclam).png");
}
/* line 65, ../sass/emotions.scss */
.dk-emot.emot-fire {
  background-image: url("../images/emotions/(fire).png");
}
/* line 68, ../sass/emotions.scss */
.dk-emot.emot-flower {
  background-image: url("../images/emotions/(flower).png");
}
/* line 71, ../sass/emotions.scss */
.dk-emot.emot-happy {
  background-image: url("../images/emotions/(happy).png");
}
/* line 74, ../sass/emotions.scss */
.dk-emot.emot-koala {
  background-image: url("../images/emotions/(koala).png");
}
/* line 77, ../sass/emotions.scss */
.dk-emot.emot-ladybug {
  background-image: url("../images/emotions/(ladybug).png");
}
/* line 80, ../sass/emotions.scss */
.dk-emot.emot-laugh {
  background-image: url("../images/emotions/(laugh).png");
}
/* line 83, ../sass/emotions.scss */
.dk-emot.emot-light_bulb {
  background-image: url("../images/emotions/(light_bulb).png");
}
/* line 86, ../sass/emotions.scss */
.dk-emot.emot-mad {
  background-image: url("../images/emotions/(mad).png");
}
/* line 89, ../sass/emotions.scss */
.dk-emot.emot-money {
  background-image: url("../images/emotions/(money).png");
}
/* line 92, ../sass/emotions.scss */
.dk-emot.emot-music {
  background-image: url("../images/emotions/(music).png");
}
/* line 95, ../sass/emotions.scss */
.dk-emot.emot-nerd {
  background-image: url("../images/emotions/(nerd).png");
}
/* line 98, ../sass/emotions.scss */
.dk-emot.emot-not_sure {
  background-image: url("../images/emotions/(not_sure).png");
}
/* line 101, ../sass/emotions.scss */
.dk-emot.emot-Q {
  background-image: url("../images/emotions/(Q).png");
}
/* line 104, ../sass/emotions.scss */
.dk-emot.emot-rain {
  background-image: url("../images/emotions/(rain).png");
}
/* line 107, ../sass/emotions.scss */
.dk-emot.emot-relax {
  background-image: url("../images/emotions/(relax).png");
}
/* line 110, ../sass/emotions.scss */
.dk-emot.emot-run {
  background-image: url("../images/emotions/(run).png");
}
/* line 113, ../sass/emotions.scss */
.dk-emot.emot-sad {
  background-image: url("../images/emotions/(sad).png");
}
/* line 116, ../sass/emotions.scss */
.dk-emot.emot-scream {
  background-image: url("../images/emotions/(scream).png");
}
/* line 119, ../sass/emotions.scss */
.dk-emot.emot-shy {
  background-image: url("../images/emotions/(shy).png");
}
/* line 122, ../sass/emotions.scss */
.dk-emot.emot-sick {
  background-image: url("../images/emotions/(sick).png");
}
/* line 125, ../sass/emotions.scss */
.dk-emot.emot-sleeping {
  background-image: url("../images/emotions/(sleeping).png");
}
/* line 128, ../sass/emotions.scss */
.dk-emot.emot-smiley {
  background-image: url("../images/emotions/(smiley).png");
}
/* line 131, ../sass/emotions.scss */
.dk-emot.emot-soccer {
  background-image: url("../images/emotions/(soccer).png");
}
/* line 134, ../sass/emotions.scss */
.dk-emot.emot-sun {
  background-image: url("../images/emotions/(sun).png");
}
/* line 137, ../sass/emotions.scss */
.dk-emot.emot-surprised {
  background-image: url("../images/emotions/(surprised).png");
}
/* line 140, ../sass/emotions.scss */
.dk-emot.emot-teeth {
  background-image: url("../images/emotions/(teeth).png");
}
/* line 143, ../sass/emotions.scss */
.dk-emot.emot-time {
  background-image: url("../images/emotions/(time).png");
}
/* line 146, ../sass/emotions.scss */
.dk-emot.emot-tongue {
  background-image: url("../images/emotions/(tongue).png");
}
/* line 149, ../sass/emotions.scss */
.dk-emot.emot-wink {
  background-image: url("../images/emotions/(wink).png");
}
/* line 152, ../sass/emotions.scss */
.dk-emot.emot-yummi {
  background-image: url("../images/emotions/(yummi).png");
}

/* line 157, ../sass/emotions.scss */
img.dk-emot {
  display: inline-block;
  text-indent: -100000px;
  width: 24px !important;
  height: 24px !important;
  background-size: 24px 24px;
  margin-top: 0 !important;
  float: none !important;
}

/* line 167, ../sass/emotions.scss */
button.dk-emot {
  border: 0;
  background-size: 24px 24px;
  background-color: transparent;
  width: 24px;
  height: 24px;
}
/* line 173, ../sass/emotions.scss */
button.dk-emot:hover {
  background-color: #dfdfdf;
}

/* line 178, ../sass/emotions.scss */
.emotions-list, .emotions-list .open {
  line-height: 53px;
}
/* line 180, ../sass/emotions.scss */
.emotions-list button.emotion-add-icon, .emotions-list .open button.emotion-add-icon {
  background-image: url("../images/emotions/emotions-add.png");
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  line-height: 1;
}
/* line 191, ../sass/emotions.scss */
.emotions-list ul, .emotions-list .open ul {
  width: 245px;
  left: 0;
  right: auto;
  line-height: 1;
}
/* line 196, ../sass/emotions.scss */
.emotions-list ul li, .emotions-list .open ul li {
  float: right;
  margin: 3px;
}
