@font-face {
  font-family: yekan;
  src: url("../fonts/yekan/yekan.eot");
  src: url("../fonts/yekan/yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/yekan.woff") format("woff"), url("../fonts/yekan/yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../sass/login.scss */
body {
  font-family: yekan;
  background-color: #1abc9c;
}
/* line 12, ../sass/login.scss */
body .form-control, body .select2-search input[type=text] {
  font-family: yekan;
}

/* line 17, ../sass/login.scss */
.login-screen {
  min-height: inherit;
  min-width: 556px;
  padding: inherit;
  margin: auto;
  display: table;
  margin-top: 150px;
}
/* line 24, ../sass/login.scss */
.login-screen .login-icon {
  float: left;
  position: inherit;
  margin-right: 10px;
}
/* line 28, ../sass/login.scss */
.login-screen .login-icon h4 {
  text-align: right;
}
/* line 32, ../sass/login.scss */
.login-screen form {
  float: left;
  width: 450px;
}
/* line 38, ../sass/login.scss */
.login-screen input {
  direction: ltr;
}
