@font-face {
    font-family: yekan;
    src: url("../fonts/yekan/yekan.eot");
    src: url("../fonts/yekan/yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/yekan.woff") format("woff"), url("../fonts/yekan/yekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: yekan;
    padding-top: 20px;
    padding-bottom: 20px;
    .form-control, .select2-search input[type=text] {
        font-family: yekan;
    }

    .img-circle {
        border: 3px solid;
    }

    label.image-upload {
        cursor: pointer;
        margin-top: 10px;
    }

    .profile-edit {
        img.avatar {
            margin-bottom: 10px;
        } 

        .file-upload-row {
            .col {
                margin-top: 10px;
            }
        }
    }

    input, .form-control  {
        &.ng-dirty {
            &.ng-valid {
                border: 2px solid green;        
            }
            &.ng-invalid {
                border: 2px solid red;           
            }
        }


        
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: yekan;
}

.dropdown-toggle {
    cursor: pointer;
}