@font-face {
    font-family: yekan;
    src: url("../fonts/yekan/yekan.eot");
    src: url("../fonts/yekan/yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/yekan.woff") format("woff"), url("../fonts/yekan/yekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

body {
    font-family: yekan;
    padding-top: 20px;
    padding-bottom: 20px;
    .form-control, .select2-search input[type=text] {
        font-family: yekan;
    }

    .well {
        // padding: 5px 10px;
        margin-bottom: 10px;
        
    }

    .img-circle {
        border: 3px solid rgb(109, 109, 109);
    }

    label.image-upload {
        cursor: pointer;
        margin-top: 10px;
    }

    .profile-page {
        .icons {
            width: 100%;
            display: inline-block;
            text-align: center;
            .icon {
                margin: 20px 5px;
                display: inline-block;

            }
        }
        .last-update, .record-number {
            margin-bottom: 20px;
        }
        .access {
            margin-top: 30px;   
        }
    }




    .profile-edit {
        img.avatar {
            display: block;
            margin: auto;
            margin-bottom: 10px;
        } 

        .file-upload-row {
            .col {
                margin-top: 10px;
            }
        }
    }

    input, .form-control  {
        &.ng-dirty {
            &.ng-valid {
                border-bottom: 2px solid green;        
            }
            &.ng-invalid {
                border-bottom: 2px solid red;           
            }
        }


        
    }

    nav.navbar {
        margin-bottom: 10px;
        &.small-display-nav {
            margin-bottom: 5px;
        }
    }

    .small-display-nav {
        // margin-top: -19px;
        // margin-right: -14px;
        // margin-left: -14px;
        .first-row {
            margin:0;
            height: 60px;
            &>.col {
                padding: 0;
                &.logo {
                    height: 60px;
                    text-align: center;
                    a.navbar-brand {
                        text-align: center;
                        height: 60px;
                        padding: 0;
                        width: 45%;
                        float: left;
                        margin-right: 0;
                        margin-left: 5%;
                        .icon {
                            font-size: 50px;
                            height: 60px;
                            line-height: 78px;
                            border-left: 1px solid white;
                            border-right: 1px solid white;
                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
                &.record-title {
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    color: white;
                    padding: 0 5px;
                    h4 {
                        line-height: 60px;
                        margin: 0;
                    }
                }

                &.user-menu-button {
                    text-align: center;
                    a {
                        width: 60px;
                        height: 60px;
                        display: inline-block;
                        float: left;
                        img {
                            width: 50px;
                            height: 50px;
                            margin: 5px;
                            border: 1px solid white;
                            border-radius: 25px;
                        }
                    }
                }
            }

            &>.col {
                padding: 0;
                &.centered-align {
                    text-align: center;
                    height: 60px;
                    .navbar-text {
                        margin: 0 5px;
                        .icon {
                            font-size: 20px;
                        }
                        .count {
                            font-size: 10px;
                            line-height: 5px;
                            display: block;
                        }
                    }
                    .online-status {
                        padding-left: 15px;
                        height: 60px;
                        padding-right: 15px;
                        float: left;
                        border-right: 1px solid white;
                        padding-top: 8px;
                        border-left: 1px solid white;
                        .glyphicon {
                            display: block;
                            margin-top: 5px;
                        }
                        .status-text {
                            font-size: 10px;
                        }
                        .online {
                            color: green;
                        }

                        .offline {
                            color: rgb(235, 93, 93);
                        }
                    }
                }

                &.main-menu-link {
                    button {
                        // width: 40%;
                        margin-right: 10%;
                        margin-left: 0;
                        float: right;
                        .icon-bar {
                            // width: 100%;
                        }
                    }
                }

            }
        }

        .second-row {
            margin:0;
            height: 60px;
            
        }

        #navbar-collapse-main-menu {
            // max-height: inherit;
        }
    }


    .large-display-nav {
        ul.nav {
            .photo-icon {
                border-radius: 20px;
                width: 40px;
                height: 40px;
            }
            &>li, &>a, &>li.dropdown > a.main-menu {
                line-height: 28px;
            }
            
        }
        .record-title {
            h4 {
                text-align: center;
                line-height: 46px;
                color: white;
                font-size: 2vw;
            }
        }

        .logo {
            border-left: 1px solid white;
            padding: 0;
            &>a {
                padding: 0;
                line-height: 67px;
                height: 67px;
                width: 100%;
                text-align: center;
                &:hover {
                    color: white;
                }
                .icon {
                    font-size: 70px;
                    font-size: 5vw;
                    height: 67px;
                    &:before {
                        line-height: 67px;
                    }
                }
            }
        }

        

        .user-menu {
            li.dropdown {
                border-right: 1px solid white;
                margin-right: 10px;
                &>a {
                    padding-top: 13.5px;
                    padding-bottom: 13.5px;
                }
            }
            .online-status {
                height: 67px;
                text-align: center;
                padding: 15px 5px;

                .glyphicon {
                    font-size: 20px;
                    display: block;
                }
                .status-text {
                    font-size: 10px;
                    display: block;

                    
                }   
                .online {
                    color: green;    
                }
                .offline {
                    color: rgb(235, 93, 93);
                }    

                
            }
            .navbar-text {
                margin: 8px 5px;
                text-align: center;

                .icon {
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                }
                .count {
                    font-size: 13px;
                    display: block;
                    line-height: 20px;
                }
                &.visitcount {

                }
                &.likecount {

                }
                &.favoritecount {

                }
            }
        }
    }

    .main-view {
        .page {
            .master {
                .master-buttons {
                    padding: 5px;   
                }
                .master-inner {
                    padding: 5px;
                    &.scrollable {
                        max-height: 450px;
                        overflow-y: scroll;
                    }
                }
                .master-bottom {

                }
            }
            .details {
                #details-header {
                    background-color: #ecf0f1;
                    height: 40px;
                    border-radius: 4px 4px 0 0;
                    height: 55px;
                    border-bottom: 1px solid #2c3e50;
                    .return-button {
                        margin-top: 5px;
                        margin-right: 10px;
                        min-width: 60px;
                        float: right;
                        background: transparent;
                        border: 0;
                        font-size: 13px;
                        margin: 0;
                        height: 100%;
                        line-height: 55px;
                        display: flex;
                        padding: 0 10px;
                        &:hover {
                            background-color: rgb(224, 224, 224);
                        }
                        .icon {
                            height: 100%;
                            padding-top: 5px;
                            line-height: 55px;
                            // width: 100%px;
                            text-align: center;
                            border-radius: 0 4px 0 0;
                            display: inline-block;
                            font-size: 25px;
                            margin: auto;
                        }
                        &[disabled] {
                            .icon {
                                color: rgb(207, 207, 207);
                                
                            }
                            &:hover {
                                background-color: transparent;
                            }
                            
                        }
                    }




                    .details-header-title {
                        margin-right: 30px;
                        float: right;
                        height: 55px;
                        line-height: 50px;
                    }

                    .details-header-button {
                        margin-top: 5px;
                        margin-right: 10px;
                        min-width: 60px;
                        float: left;
                        background: transparent;
                        border: 0;
                        font-size: 13px;
                        margin: 0;
                        height: 100%;
                        line-height: 55px;
                        display: flex;
                        padding: 0 10px;
                        border-radius: 4px 0 0 0;
                        color: black;
                        &:hover {
                            background-color: rgb(224, 224, 224);
                        }
                        .icon {
                            height: 100%;
                            padding-top: 5px;
                            line-height: 55px;
                            // width: 100%px;
                            text-align: center;
                            border-radius: 4px 0 0 0;
                            display: inline-block;
                            font-size: 25px;
                            margin: auto;
                        }
                        &[disabled] {
                            .icon {
                                color: rgb(207, 207, 207);
                                
                            }
                            &:hover {
                                background-color: transparent;
                            }
                            
                        }
                    }

                    &.fixed {
                        position: fixed;
                        top: 60px;
                        left: 0;
                        right: 0;
                        z-index: 10;
                        box-shadow: 0 2px 9px -4px black;
                        .return-button {
                            .icon {
                                border-radius: 0;
                            }
                        }
                    }
                }

                .details-inner {
                    border-radius: 0 0 4px 4px;
                    &.has-details-bottom {
                        margin-bottom: 55px;
                    }
                }

                .details-bottom{
                    &.fixed {
                        position: fixed;
                        bottom: 0;
                        left: 0;
                        right: 0;    
                    }
                    
                }
            }


            label {
                color: rgb(72, 198, 169);
            }

            hr {
                border-color: rgb(205, 205, 205);
            }

            &.messages-page {

                .threads {
                    .group-message-button {
                        width: 100%;
                    }
                    .inner {
                        ul {
                            margin-bottom: 0;
                            li {
                                &.thread {
                                    min-height: 70px;
                                    padding: 5px 10px;
                                    background: white;
                                    border-bottom: 1px solid #ecf0f1;
                                    position: relative;
                                    cursor: pointer;
                                    &:hover {
                                        background: #E0E6E8;
                                    }

                                    &.selected {
                                        background: rgb(244, 244, 244);
                                    }

                                    &:first-child {
                                        border-radius: 4px 4px 0 0;
                                    }

                                    &:last-child {
                                        border-radius: 0 0 4px 4px;
                                        border-bottom: none;
                                    }
                                    img {
                                        float: right;
                                        border-width: 2px;
                                    }
                                    .middle {
                                        margin-right: 60px;
                                        .username, .group-label {
                                            display: block;
                                        }
                                        .group-label {
                                            color: green;
                                        }
                                        .last-message {
                                            display: block;
                                            font-size: 13px;
                                            color: #808080;
                                        }
                                        
                                    }
                                    .datetime {
                                        position: absolute;
                                        top: 10px;
                                        left: 5px;
                                        font-size: 11px;
                                    }
                                    .delete-button {
                                        border: none;
                                        position: absolute;
                                        left: 3px;
                                        bottom: 3px;
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                }

                .messages {
                    
                    

                    .messages-inner {
                        padding: 0  0 10px 0;
                        background: #ecf0f1;
                        border-radius: 0;
                        &.scrollable {
                            max-height: 400px;
                            overflow-y: scroll;
                        }
                        .load-more {
                            width: 100%;
                            border-radius: 0;
                            height: 35px;
                            background-color: rgb(204, 204, 204);
                            border: 0;
                        }
                        .message-list {
                            display: inline-block;
                            width: 100%;
                            .message {
                                clear: both;
                                .text {
                                    color: white;
                                    padding: 10px 5px;
                                    border-radius: 4px;
                                    margin: 10px 0 0;
                                    font-size: 13px;
                                    min-width: 100px;
                                    max-width: 300px;
                                }
                                .time {
                                    clear: both;
                                    font-size: 12px;
                                }
                                img {
                                    margin: 10px 0 0;
                                    width: 40px;
                                    height: 40px;
                                    border-width: 2px;
                                }
                                &.record {
                                    margin-right: 20px;
                                    .text{
                                        background-color: rgba(24, 148, 124, 0.19);
                                        border-color: #18947c;
                                        float: right;
                                        margin-right: 10px;
                                        color: rgb(60, 60, 60);
                                    }
                                    img {
                                        float: right;
                                        border-width: 1px;
                                    }
                                    .time {
                                        float: left;
                                    }
                                }

                                &.client {
                                    margin-left: 20px;
                                    .text{
                                        background-color: rgba(63, 129, 174, 0.29);
                                        border-color: #3f81ae;
                                        float: left;
                                        margin-left: 10px;
                                        color: rgb(60,60,60);
                                    }
                                    img {
                                        float: left;
                                        border-width: 1px;
                                    }
                                    .time {
                                        float: right;
                                    }
                                }
                                .time {
                                    display: block;
                                }
                                .delivered, .seen {
                                    float: right;
                                    clear: both;
                                    font-size: 10px;
                                    color: gray;
                                }
                                .seen {

                                }
                            }
                        }    
                    }
                    .message-submit {
                        border: 2px solid #ecf0f1;
                        border-radius: 0 0 4px 4px;
                        display: inline-block;
                        width: 100%;
                        // height: 55px;
                        background-color: #F7F8F8;
                        .message-text {
                            // height: 53px;
                            input, textarea {
                                border: 1px solid rgb(224, 224, 224);
                                background: white;
                                height: 36px;
                                margin-top: 8px;
                                font-size: 12px;
                                margin-bottom: 5px;
                                max-height: 100px !important;
                                overflow-y: scroll !important;
                            }
                        }
                        .submit-button {
                            // height: 53px;
                            line-height: 53px;
                            padding: 0;
                            button {
                                padding: 0;
                                margin: auto;
                                height: inherit;
                                border: none;
                                background: transparent;
                                display: flex;
                                .glyphicon {
                                    font-size: 20px;
                                    height: 53px;
                                    line-height: 53px;
                                    color: gray;
                                    cursor: pointer;
                                    &:hover {
                                        color: rgb(64, 64, 64);
                                    }
                                    &.disable {
                                        color: rgb(201, 201, 201);
                                        cursor: auto;
                                        &:hover {
                                            color: gray;
                                            color: rgb(201, 201, 201);
                                        }
                                    }
                                }
                                .text {
                                    height: 53px;
                                    line-height: 53px;
                                    margin-right: 5px;
                                    font-size: 10px;
                                    color: gray;
                                    &:hover {
                                        color: rgb(64, 64, 64);
                                    }
                                    &.disable {
                                        color: rgb(201, 201, 201);
                                        cursor: auto;
                                        &:hover {
                                            color: gray;
                                            color: rgb(201, 201, 201);
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                    .group-message-form-wrapper {
                        .btn {
                            margin-top: 10px;
                        }
                    }
                }
            }

            &.store-page {
                .master {
                    .master-buttons {

                    }
                }
                .products-list {
                }

                .child-states {
                    

                    .store-details {
                        .banner-image {
                            width: 100%;
                            margin-bottom: 10px;
                            border: 2px solid #dce4ec;
                            border-radius: 4px;
                        }

                        .store-description {
                            display: block;
                            margin-bottom: 10px;
                        }

                        .store-groups-label {

                        }



                        .store-groups {
                            li {
                                background-color: rgba(24, 188, 156, 0.16);
                                color: rgb(100, 100, 100);
                            }
                        }

                        .store-template {
                            display: block;
                        }
                    }

                    .store-edit {
                        .store-groups {
                            .decipher-tags {
                                margin: 0;
                                background: white;
                                border: 2px solid #dce4ec;
                                border-radius: 4px;

                                .decipher-tags-input {
                                    margin-top: 10px;
                                    border: 1px solid rgb(200, 200, 200);
                                    border-radius: 4px;

                                    &.ng-valid, &.ng-dirty.ng-valid {
                                        // border: 2px solid green;
                                    }
                                }
                            }
                        }

                        .store-banner {
                            .file-select {
                                padding: 0;
                                border: 2px solid #dce4ec;
                                margin-bottom: 10px;
                                position: relative;
                                .banner-image {
                                    width: 100%;
                                    margin: auto;
                                    border-radius: 4px;
                                }    
                                .image-upload-tip {
                                    position: absolute;
                                    right: 10px;
                                    bottom: 10px;
                                    padding: 3px 10px;
                                    background-color: rgba(120,120,120, 0.5);
                                    color: white;
                                }
                            }
                            
                        }


                        .store-group-hint {
                            display: block;
                            color: gray;
                            font-size: 12px;
                        }

                        .store-groups {
                            margin-bottom: 10px;
                        }

                        #store-template {
                            padding-top: 0;
                            padding-bottom: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        

        

        @media (max-width: $screen-xs-max) {
            // .profile-page {
            //     margin: -14px;
            // }
            
            .profile-edit {
                .save-btn {
                    width: 49%;
                }
                .cancel-btn {
                    width: 49%;
                    float: left;
                }
            }

            .messages-page {
                .threads {
                    .inner {
                        // margin-right: -12px;
                        // margin-left: -12px;
                    }
                }

                .messages {
                    .inner {
                        // margin-right: -12px;
                        // margin-left: -12px;
                    }
                }
            }

            .page-title {
                text-align: center;
            }
        }
    }
    
}




h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: yekan;
}

.dropdown-toggle {
    cursor: pointer;
}


.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}


@media (max-width: $screen-xs-max) {
    body {
        padding-top: 70px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .form-horizontal .form-group {
        margin-left: -5px;
        margin-right: -5px;
    }

    .nav-container {
        &.container, .container {
            padding-left: 15px;
            padding-right: 15px;       
        }

        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            padding-left: 15px;
            padding-right: 15px;
        }

        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}