@font-face {
    font-family: yekan;
    src: url("../fonts/yekan/yekan.eot");
    src: url("../fonts/yekan/yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/yekan.woff") format("woff"), url("../fonts/yekan/yekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: yekan;
    padding-top: 20px;
    padding-bottom: 20px;
    .form-control, .select2-search input[type=text] {
        font-family: yekan;
    }

    .img-circle {
        border: 3px solid;
    }

    label.image-upload {
        cursor: pointer;
        margin-top: 10px;
    }

    .profile-page {
        .last-update, .record-number {
            margin-bottom: 20px;
        }
        .access {
            margin-top: 30px;   
        }
    }




    .profile-edit {
        img.avatar {
            margin-bottom: 10px;
        } 

        .file-upload-row {
            .col {
                margin-top: 10px;
            }
        }
    }

    input, .form-control  {
        &.ng-dirty {
            &.ng-valid {
                border: 2px solid green;        
            }
            &.ng-invalid {
                border: 2px solid red;           
            }
        }


        
    }

    .small-display-nav {
        .first-row {
            margin:0;
            height: 60px;
            border-bottom: 1px solid white;
            &>.col {
                padding: 0;
                &.logo {
                    height: 60px;
                    text-align: center;
                    a.navbar-brand {
                        text-align: center;
                        height: 60px;
                        padding: 0;
                        width: 100%;
                        .icon {
                            font-size: 60px;
                            height: 60px;
                            line-height: 60px;
                            border-left: 1px solid white;
                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
                &.record-title {
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    color: white;
                    padding: 0 5px;
                    h4 {
                        line-height: 60px;
                        margin: 0;
                    }
                }

                &.user-menu-button {
                    a {
                        width: 60px;
                        height: 60px;
                        display: inline-block;
                        float: left;
                        border-right: 1px solid white;
                        img {
                            width: 50px;
                            height: 50px;
                            margin: 5px;
                            border: 1px solid white;
                            border-radius: 25px;
                        }
                    }
                }
            }
        }

        .second-row {
            margin:0;
            height: 60px;
            &>.col {
                padding: 0;
                &.centered-align {
                    text-align: center;
                    height: 60px;
                    padding-top: 10px;
                    .navbar-text {
                        float: left;
                        margin: 0 5px;
                        .icon {
                            font-size: 20px;
                        }
                        .count {
                            font-size: 10px;
                            line-height: 5px;
                            display: block;
                        }
                    }
                    .online-status {
                        float: left;
                        margin-left: 5px;

                        .glyphicon {
                            display: block;
                            margin-top: 5px;
                        }
                        .status-text {
                            font-size: 10px;
                        }
                        .online {
                            color: green;
                        }

                        .offline {
                            color: rgb(235, 93, 93);
                        }
                    }
                }

                &.main-menu-link {
                    padding-right: 5px;
                }
            }
        }
    }


    .large-display-nav {
        ul.nav {
            .photo-icon {
                border-radius: 20px;
                width: 40px;
                height: 40px;
            }
            &>li, &>a, &>li.dropdown > a.main-menu {
                line-height: 28px;
            }
            
        }
        .record-title {
            h4 {
                text-align: center;
                line-height: 46px;
                color: white;
                font-size: 2vw;
            }
        }

        .logo {
            border-left: 1px solid white;
            padding: 0;
            &>a {
                padding: 0;
                line-height: 67px;
                height: 67px;
                width: 100%;
                text-align: center;
                &:hover {
                    color: white;
                }
                .icon {
                    font-size: 70px;
                    font-size: 5vw;
                    height: 67px;
                    &:before {
                        line-height: 67px;
                    }
                }
            }
        }

        

        .user-menu {
            li.dropdown {
                border-right: 1px solid white;
                margin-right: 10px;
                &>a {
                    padding-top: 13.5px;
                    padding-bottom: 13.5px;
                }
            }
            .online-status {
                height: 67px;
                text-align: center;
                padding: 15px 5px;

                .glyphicon {
                    font-size: 20px;
                    display: block;
                }
                .status-text {
                    font-size: 10px;
                    display: block;

                    
                }   
                .online {
                    color: green;    
                }
                .offline {
                    color: rgb(235, 93, 93);
                }    

                
            }
            .navbar-text {
                margin: 8px 5px;
                text-align: center;

                .icon {
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                }
                .count {
                    font-size: 13px;
                    display: block;
                    line-height: 20px;
                }
                &.visitcount {

                }
                &.likecount {

                }
                &.favoritecount {

                }
            }
        }
    }

    
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: yekan;
}

.dropdown-toggle {
    cursor: pointer;
}