.dk-emot {
	width:35px;
	height:35px;


  &.emot-smiley{
	background-image:url("../images/emotions/(smiley).png");
  }
  &.emot-happy{
	background-image:url("../images/emotions/(happy).png");
  }
  &.emot-wink2{
	background-image:url("../images/emotions/(wink2).png");
  }
  &.emot-wink{
	background-image:url("../images/emotions/(wink).png");
  }
  &.emot-laugh{
	background-image:url("../images/emotions/(laugh).png");
  }
  &.emot-teeth{
	background-image:url("../images/emotions/(teeth).png");
  }
  &.emot-yummi{
	background-image:url("../images/emotions/(yummi).png");
  }
  &.emot-surprised{
	background-image:url("../images/emotions/(surprised).png");
  }
  &.emot-crazy{
	background-image:url("../images/emotions/(crazy).png");
  }
  &.emot-money{
	background-image:url("../images/emotions/(money).png");
  }
  &.emot-moa{
	background-image:url("../images/emotions/(moa).png");
  }
  &.emot-inlove{
	background-image:url("../images/emotions/(inlove).png");
  }
  &.emot-flirt{
	background-image:url("../images/emotions/(flirt).png");
  }
  &.emot-teary{
	background-image:url("../images/emotions/(teary).png");
  }
  &.emot-mad{
	background-image:url("../images/emotions/(mad).png");
  }
  &.emot-upset{
	background-image:url("../images/emotions/(upset).png");
  }
  &.emot-cry{
	background-image:url("../images/emotions/(cry).png");
  }
  &.emot-angry{
	background-image:url("../images/emotions/(angry).png");
  }
  &.emot-sick{
	background-image:url("../images/emotions/(sick).png");
  }
  &.emot-sleeping{
	background-image:url("../images/emotions/(sleeping).png");
  }
  &.emot-info{
	background-image:url("../images/emotions/(info).png");
  }
  &.emot-Q{
	background-image:url("../images/emotions/(Q).png");
  }
  &.emot-heart{
	background-image:url("../images/emotions/(heart).png");
  }
  &.emot-purple_heart{
	background-image:url("../images/emotions/(purple_heart).png");
  }
  &.emot-clap{
	background-image:url("../images/emotions/(clap).png");
  }
  &.emot-like{
	background-image:url("../images/emotions/(like).png");
  }
  &.emot-V{
	background-image:url("../images/emotions/(V).png");
  }
  &.emot-unlike{
	background-image:url("../images/emotions/(unlike).png");
  }
  &.emot-flower{
	background-image:url("../images/emotions/(flower).png");
  }
  &.emot-balloon2{
	background-image:url("../images/emotions/(balloon2).png");
  }
  &.emot-balloon1{
	background-image:url("../images/emotions/(balloon1).png");
  }
  &.emot-cake{
	background-image:url("../images/emotions/(cake).png");
  }
  &.emot-gift{
	background-image:url("../images/emotions/(gift).png");
  }
  &.emot-partyhat{
	background-image:url("../images/emotions/(partyhat).png");
  }
  &.emot-cupcake{
	background-image:url("../images/emotions/(cupcake).png");
  }
  &.emot-magnify{
	background-image:url("../images/emotions/(magnify).png");
  }
  &.emot-glasses{
	background-image:url("../images/emotions/(glasses).png");
  }
  &.emot-letter{
	background-image:url("../images/emotions/(letter).png");
  }
  &.emot-thinking{
	background-image:url("../images/emotions/(thinking).png");
  }
  &.emot-music{
	background-image:url("../images/emotions/(music).png");
  }
  &.emot-pencil{
	background-image:url("../images/emotions/(pencil).png");
  }
  &.emot-book{
	background-image:url("../images/emotions/(book).png");
  }
  &.emot-ruler{
	background-image:url("../images/emotions/(ruler).png");
  }
  &.emot-scissor{
	background-image:url("../images/emotions/(scissor).png");
  }
  &.emot-dollar{
	background-image:url("../images/emotions/(dollar).png");
  }
  &.emot-run{
	background-image:url("../images/emotions/(run).png");
  }
  &.emot-time{
	background-image:url("../images/emotions/(time).png");
  }
  &.emot-bell{
	background-image:url("../images/emotions/(bell).png");
  }
  &.emot-telephone{
	background-image:url("../images/emotions/(telephone).png");
  }
  &.emot-snowman{
	background-image:url("../images/emotions/(snowman).png");
  }
  &.emot-snowflake{
	background-image:url("../images/emotions/(snowflake).png");
  }
  &.emot-rain{
	background-image:url("../images/emotions/(rain).png");
  }
  &.emot-cloud{
	background-image:url("../images/emotions/(cloud).png");
  }
  &.emot-moon{
	background-image:url("../images/emotions/(moon).png");
  }
  &.emot-sun{
	background-image:url("../images/emotions/(sun).png");
  }
  &.emot-angel{
	background-image:url("../images/emotions/(angel).png");
  }
  &.emot-palmtreeli>{
	background-image:url("../images/emotions/(palmtreeli>).png");
  }
  &.emot-sunflower{
	background-image:url("../images/emotions/(sunflower).png");
  }
  &.emot-cactus{
	background-image:url("../images/emotions/(cactus).png");
  }
  &.emot-sprout{
	background-image:url("../images/emotions/(sprout).png");
  }
  &.emot-clover{
	background-image:url("../images/emotions/(clover).png");
  }
  &.emot-koala{
	background-image:url("../images/emotions/(koala).png");
  }
  &.emot-bunny{
	background-image:url("../images/emotions/(bunny).png");
  }
  &.emot-squirrel{
	background-image:url("../images/emotions/(squirrel).png");
  }
  &.emot-goldfish{
	background-image:url("../images/emotions/(goldfish).png");
  }
  &.emot-monkey{
	background-image:url("../images/emotions/(monkey).png");
  }
  &.emot-cat{
	background-image:url("../images/emotions/(cat).png");
  }
  &.emot-kangaroo{
	background-image:url("../images/emotions/(kangaroo).png");
  }
  &.emot-ladybug{
	background-image:url("../images/emotions/(ladybug).png");
  }
  &.emot-turtle{
	background-image:url("../images/emotions/(turtle).png");
  }
  &.emot-sheep{
	background-image:url("../images/emotions/(sheep).png");
  }
  &.emot-panda{
	background-image:url("../images/emotions/(panda).png");
  }
  &.emot-owl{
	background-image:url("../images/emotions/(owl).png");
  }
  &.emot-chick{
	background-image:url("../images/emotions/(chick).png");
  }
  &.emot-christmas_tree{
    background-image:url("../images/emotions/(christmas_tree).png");
  }
  &.emot-palmtree{
    background-image:url("../images/emotions/(palmtree).png");
  }
  &.emot-dog{
	background-image:url("../images/emotions/(dog).png");
  }
  &.emot-bee{
	background-image:url("../images/emotions/(bee).png");
  }
  &.emot-penguin{
	background-image:url("../images/emotions/(penguin).png");
  }
  &.emot-dragonfly{
	background-image:url("../images/emotions/(dragonfly).png");
  }
  &.emot-pig{
	background-image:url("../images/emotions/(pig).png");
  }
  &.emot-snake{
	background-image:url("../images/emotions/(snake).png");
  }
  &.emot-snail{
	background-image:url("../images/emotions/(snail).png");
  }
  &.emot-fly{
	background-image:url("../images/emotions/(fly).png");
  }
  &.emot-shark{
	background-image:url("../images/emotions/(shark).png");
  }
  &.emot-bat{
	background-image:url("../images/emotions/(bat).png");
  }
  &.emot-martini{
	background-image:url("../images/emotions/(martini).png");
  }
  &.emot-beer{
	background-image:url("../images/emotions/(beer).png");
  }
  &.emot-coffee{
	background-image:url("../images/emotions/(coffee).png");
  }
  &.emot-soda{
	background-image:url("../images/emotions/(soda).png");
  }
  &.emot-burger{
	background-image:url("../images/emotions/(burger).png");
  }
  &.emot-pizza{
	background-image:url("../images/emotions/(pizza).png");
  }
  &.emot-hotdog{
	background-image:url("../images/emotions/(hotdog).png");
  }
  &.emot-popcorn{
	background-image:url("../images/emotions/(popcorn).png");
  }
  &.emot-egg{
	background-image:url("../images/emotions/(egg).png");
  }
  &.emot-noodles{
	background-image:url("../images/emotions/(noodles).png");
  }
  &.emot-chicken{
	background-image:url("../images/emotions/(chicken).png");
  }
  &.emot-donut{
	background-image:url("../images/emotions/(donut).png");
  }
  &.emot-popsicle{
	background-image:url("../images/emotions/(popsicle).png");
  }
  &.emot-ice_cream{
	background-image:url("../images/emotions/(ice_cream).png");
  }
  &.emot-lollipop{
	background-image:url("../images/emotions/(lollipop).png");
  }
  &.emot-croissant{
	background-image:url("../images/emotions/(croissant).png");
  }
  &.emot-chocolate{
	background-image:url("../images/emotions/(chocolate).png");
  }
  &.emot-cherry{
	background-image:url("../images/emotions/(cherry).png");
  }
  &.emot-grapes{
	background-image:url("../images/emotions/(grapes).png");
  }
  &.emot-watermelon{
	background-image:url("../images/emotions/(watermelon).png");
  }
  &.emot-strawberry{
	background-image:url("../images/emotions/(strawberry).png");
  }
  &.emot-banana{
	background-image:url("../images/emotions/(banana).png");
  }
  &.emot-pineapple{
	background-image:url("../images/emotions/(pineapple).png");
  }
  &.emot-corn{
	background-image:url("../images/emotions/(corn).png");
  }
  &.emot-pea{
	background-image:url("../images/emotions/(pea).png");
  }
  &.emot-mushroom{
	background-image:url("../images/emotions/(mushroom).png");
  }
  &.emot-bicycle{
	background-image:url("../images/emotions/(bicycle).png");
  }
  &.emot-taxi{
	background-image:url("../images/emotions/(taxi).png");
  }
  &.emot-ambulance{
	background-image:url("../images/emotions/(ambulance).png");
  }
  &.emot-policecar{
	background-image:url("../images/emotions/(policecar).png");
  }
  &.emot-car{
	background-image:url("../images/emotions/(car).png");
  }
  &.emot-airplane{
	background-image:url("../images/emotions/(airplane).png");
  }
  &.emot-rocket{
	background-image:url("../images/emotions/(rocket).png");
  }
  &.emot-ufo{
	background-image:url("../images/emotions/(ufo).png");
  }
  &.emot-flipflop{
	background-image:url("../images/emotions/(flipflop).png");
  }
  &.emot-umbrella{
	background-image:url("../images/emotions/(umbrella).png");
  }
  &.emot-fidora{
	background-image:url("../images/emotions/(fidora).png");
  }
  &.emot-cap{
	background-image:url("../images/emotions/(cap).png");
  }
  &.emot-crown{
	background-image:url("../images/emotions/(crown).png");
  }
  &.emot-diamond{
	background-image:url("../images/emotions/(diamond).png");
  }
  &.emot-ring{
	background-image:url("../images/emotions/(ring).png");
  }
  &.emot-relax{
	background-image:url("../images/emotions/(relax).png");
  }
  &.emot-battery{
	background-image:url("../images/emotions/(battery).png");
  }
  &.emot-nobattery{
	background-image:url("../images/emotions/(nobattery).png");
  }
  &.emot-termometer{
	background-image:url("../images/emotions/(termometer).png");
  }
  &.emot-meds{
	background-image:url("../images/emotions/(meds).png");
  }
  &.emot-syringe{
	background-image:url("../images/emotions/(syringe).png");
  }
  &.emot-golfball{
	background-image:url("../images/emotions/(golfball).png");
  }
  &.emot-golf{
	background-image:url("../images/emotions/(golf).png");
  }
  &.emot-soccer{
	background-image:url("../images/emotions/(soccer).png");
  }
  &.emot-baseball{
	background-image:url("../images/emotions/(baseball).png");
  }
  &.emot-basketball{
	background-image:url("../images/emotions/(basketball).png");
  }
  &.emot-tennis{
	background-image:url("../images/emotions/(tennis).png");
  }
  &.emot-beachball{
	background-image:url("../images/emotions/(beachball).png");
  }
  &.emot-8ball{
	background-image:url("../images/emotions/(8ball).png");
  }
  &.emot-boxing{
	background-image:url("../images/emotions/(boxing).png");
  }
  &.emot-football{
	background-image:url("../images/emotions/(football).png");
  }
  &.emot-weight{
	background-image:url("../images/emotions/(weight).png");
  }
  &.emot-muscle{
	background-image:url("../images/emotions/(muscle).png");
  }
  &.emot-trophy{
	background-image:url("../images/emotions/(trophy).png");
  }
  &.emot-happycry{
	background-image:url("../images/emotions/(happycry).png");
  }
  &.emot-silly{
	background-image:url("../images/emotions/(silly).png");
  }
  &.emot-nerd{
	background-image:url("../images/emotions/(nerd).png");
  }
  &.emot-shy{
	background-image:url("../images/emotions/(shy).png");
  }
  &.emot-not_sure{
	background-image:url("../images/emotions/(not_sure).png");
  }
  &.emot-confused{
	background-image:url("../images/emotions/(confused).png");
  }
  &.emot-meh{
	background-image:url("../images/emotions/(meh).png");
  }
  &.emot-what{
	background-image:url("../images/emotions/(what).png");
  }
  &.emot-yo{
	background-image:url("../images/emotions/(yo).png");
  }
  &.emot-wtf{
	background-image:url("../images/emotions/(wtf).png");
  }
  &.emot-tongue{
	background-image:url("../images/emotions/(tongue).png");
  }
  &.emot-sad{
	background-image:url("../images/emotions/(sad).png");
  }
  &.emot-exhausted{
	background-image:url("../images/emotions/(exhausted).png");
  }
  &.emot-huh{
	background-image:url("../images/emotions/(huh).png");
  }
  &.emot-scream{
	background-image:url("../images/emotions/(scream).png");
  }
  &.emot-weak{
	background-image:url("../images/emotions/(weak).png");
  }
  &.emot-dead{
	background-image:url("../images/emotions/(dead).png");
  }
  &.emot-mischievous{
	background-image:url("../images/emotions/(mischievous).png");
  }
  &.emot-ohno{
	background-image:url("../images/emotions/(ohno).png");
  }
  &.emot-straight{
	background-image:url("../images/emotions/(straight).png");
  }
  &.emot-dizzy{
	background-image:url("../images/emotions/(dizzy).png");
  }
  &.emot-cool{
	background-image:url("../images/emotions/(cool).png");
  }
  &.emot-spiderman{
	background-image:url("../images/emotions/(spiderman).png");
  }
  &.emot-eek{
	background-image:url("../images/emotions/(eek).png");
  }
  &.emot-ugh{
	background-image:url("../images/emotions/(ugh).png");
  }
  &.emot-devil{
	background-image:url("../images/emotions/(devil).png");
  }
  &.emot-oh{
	background-image:url("../images/emotions/(oh).png");
  }
  &.emot-depressed{
	background-image:url("../images/emotions/(depressed).png");
  }
  &.emot-mwah{
	background-image:url("../images/emotions/(mwah).png");
  }
  &.emot-singing{
	background-image:url("../images/emotions/(singing).png");
  }
  &.emot-batman{
	background-image:url("../images/emotions/(batman).png");
  }
  &.emot-ninja{
	background-image:url("../images/emotions/(ninja).png");
  }
  &.emot-light_bulb{
	background-image:url("../images/emotions/(light_bulb).png");
  }
  &.emot-fire{
	background-image:url("../images/emotions/(fire).png");
  }
  &.emot-torch{
	background-image:url("../images/emotions/(torch).png");
  }
  &.emot-sushi1{
	background-image:url("../images/emotions/(sushi1).png");
  }
  &.emot-sushi2{
	background-image:url("../images/emotions/(sushi2).png");
  }
  &.emot-phone{
	background-image:url("../images/emotions/(phone).png");
  }
  &.emot-knife{
	background-image:url("../images/emotions/(knife).png");
  }
  &.emot-key{
	background-image:url("../images/emotions/(key).png");
  }
  &.emot-angrymark{
	background-image:url("../images/emotions/(angrymark).png");
  }
  &.emot-bomb{
	background-image:url("../images/emotions/(bomb).png");
  }
  &.emot-mapleleaf{
	background-image:url("../images/emotions/(mapleleaf).png");
  }
  &.emot-zzz{
	background-image:url("../images/emotions/(zzz).png");
  }
  &.emot-guitar{
	background-image:url("../images/emotions/(guitar).png");
  }
  &.emot-trumpet{
	background-image:url("../images/emotions/(trumpet).png");
  }
  &.emot-hammer{
	background-image:url("../images/emotions/(hammer).png");
  }
  &.emot-dice{
	background-image:url("../images/emotions/(dice).png");
  }
  &.emot-console{
	background-image:url("../images/emotions/(console).png");
  }
  &.emot-lantern{
	background-image:url("../images/emotions/(lantern).png");
  }
  &.emot-microphone{
	background-image:url("../images/emotions/(microphone).png");
  }
  &.emot-tape{
	background-image:url("../images/emotions/(tape).png");
  }
  &.emot-speaker{
	background-image:url("../images/emotions/(speaker).png");
  }
  &.emot-video{
	background-image:url("../images/emotions/(video).png");
  }
  &.emot-TV{
	background-image:url("../images/emotions/(TV).png");
  }
  &.emot-wrench{
	background-image:url("../images/emotions/(wrench).png");
  }
  &.emot-lock{
	background-image:url("../images/emotions/(lock).png");
  }
  &.emot-paperclip{
	background-image:url("../images/emotions/(paperclip).png");
  }
  &.emot-skull{
	background-image:url("../images/emotions/(skull).png");
  }
  &.emot-ghost{
	background-image:url("../images/emotions/(ghost).png");
  }
  &.emot-paw{
	background-image:url("../images/emotions/(paw).png");
  }
  &.emot-darkish-logo{
	background-image:url("../images/emotions/(darkish-logo).png");
	width: 74px;
	height: 35px;
	background-size: contain;
	background-repeat: no-repeat;
  }
}

img.dk-emot {
	display: inline-block;
	text-indent: -100000px;
	width: 24px !important;
	height: 24px !important;
	background-size: 24px 24px;
	margin-top: 0 !important;
	float: none !important;
}

button.dk-emot {
	border: 0;
	background-size: 24px 24px;
	background-color: transparent;
	width: 24px;
	height: 24px;
	&:hover {
		background-color: rgb(223, 223, 223);
	}
}

.emotions-list, .emotions-list .open {
	line-height: 53px;
	text-align: left;
	button.emotion-add-icon {
		background-color: transparent;
		border: 0;
		padding: 0;
		width: 32px;
		height: 32px;
		background-size:  32px 32px;
		line-height: 1;
		.dk {
			color: rgb(192, 0, 0);
			font-size: 30px;
		}
	}

	ul {
		width: 245px;
		left: 0;
		right: auto;
		line-height: 1;
        height: 320px;
        overflow-y: scroll;
		li {
			float: right;
			margin: 3px;
		}
	}

	&.group-message {
		margin-right: 15px;
		&.open {
			button.emotion-add-icon {
				background-color: transparent;
				border: 0;
				padding: 0;
				width: 32px;
				height: 32px;
				background-size:  32px 32px;
				line-height: 1;
				margin-top: 0 !important;
				.dk {
					color: rgb(192, 0, 0);
					font-size: 30px;
				}
			}

			ul {
				width: 245px;
				right: 0;
				left: auto;
				line-height: 1;
				li {
					float: right;
					margin: 3px;
				}
			}			
		}
	}
}
