<h3>
    جشنواره ها
</h3>

<div class="row">
    {% for item in items %}
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        	<a href="{{ url('website_record_single', {"record": item.recordNumber}) }}">
                <div class="thumbnail">
                    <img src="{{ item.images.0.relativePath | imagine_filter('512') }}" alt="">
                    <div class="caption">
                        <h4>{{ item.title }}</h4>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>