<div class="main-subsection">
  <div class="container">

    <h2 class="download-app-title">
      دریافت نرم افزار
    </h2>
    <p class="download-app-description">
      در اینجا اطلاعات مربوط به دریافت نرم افزار قرار میگیرد. در اینجا اطلاعات مربوط به دریافت نرم افزار قرار میگیرد.
      در اینجا اطلاعات مربوط به دریافت نرم افزار قرار میگیرد. در اینجا اطلاعات مربوط به دریافت نرم افزار قرار میگیرد.
      در اینجا اطلاعات مربوط به دریافت نرم افزار قرار میگیرد. در اینجا اطلاعات مربوط به دریافت نرم افزار قرار میگیرد.

    </p>
    <hr>
    <a href="#" class="download-app-android">
      <h4>
        دانلود
      </h4>
      نسخه Android
    </a>
    <a href="#" class="download-app-ios">
      <h4>
        دانلود
      </h4>
      نسخه  iOS
    </a>
    <div class="last-update-app">
      تاریخ بروز رسانی آخرین نسخه: 10 مهر 1394
    </div>
  </div>
</div>