<div class="main-subsection">
  <div class="container">


    <div class="description">
      <div class="description-inner">
        <h3 class="stores-section-title">
          فروشگاه ها <span class="stores-section-title-icon"></span>
        </h3>
        <p class="stores-section-description-text">
          توضیحات مربوط به فروشگاه توضیحات مربوط به فروشگاه توضیحات مربوط به فروشگاه توضیحات مربوط به فروشگاه توضیحات مربوط به فروشگاه توضیحات
        </p>
      </div>
    </div>
    <div class="store store-1">
      <div class="store-inner">
        <div class="store-header">
          <h4 class="store-header-title">
            فروشگاه لوازم خانگی یاس
          </h4>
          <h5 class="store-header-subtitle">
            به مدیریت علی محمدی
          </h5>
        </div>
        <div class="store-products">
          <ul class="products">
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="store store-2">
      <div class="store-inner">
        <div class="store-header">
          <h4 class="store-header-title">
            فروشگاه لوازم خانگی یاس
          </h4>
          <h5 class="store-header-subtitle">
            به مدیریت علی محمدی
          </h5>
        </div>
        <div class="store-products">
          <ul class="products">
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="store store-3">
      <div class="store-inner">
        <div class="store-header">
          <h4 class="store-header-title">
            فروشگاه لوازم خانگی یاس
          </h4>
          <h5 class="store-header-subtitle">
            به مدیریت علی محمدی
          </h5>
        </div>
        <div class="store-products">
          <ul class="products">
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="store store-4">
      <div class="store-inner">
        <div class="store-header">
          <h4 class="store-header-title">
            فروشگاه لوازم خانگی یاس
          </h4>
          <h5 class="store-header-subtitle">
            به مدیریت علی محمدی
          </h5>
        </div>
        <div class="store-products">
          <ul class="products">
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="store store-5">
      <div class="store-inner">
        <div class="store-header">
          <h4 class="store-header-title">
            فروشگاه لوازم خانگی یاس
          </h4>
          <h5 class="store-header-subtitle">
            به مدیریت علی محمدی
          </h5>
        </div>
        <div class="store-products">
          <ul class="products">
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
            <li>
              <img src="./assets/images/sample-product.png" />
              <span class="product-title">
                کالای شماره یک
              </span>
              <span class="product-price">
                قیمت:
                140000ریال
              </span>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>