<div class="main-subsection">
  <div class="container">
    <h2 class="section-title">
      اطلاعیه ها و اخبار
    </h2>
    <div class="notification-news">
      <h3 class="notification-news-title">
        اطلاعیه مهم
      </h3>
      <p class="notification-news-text">
        متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد
        متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد
        متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد
        متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد
        متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد
        متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد. متن اطلاعیه در این قسمت قرار میگیرد

      </p>
    </div>
    <div class="latest-news">
      <h3 class="latest-news-title">
        آخرین اخبار
      </h3>
      <ul class="latest-news-list">
        <li class="news-item">
          <div class="news-image">
            <img src="./assets/images/news-item.png" alt="" />
          </div>
          <div class="news-info">
            <span class="news-date">
              جمعه - 18 اردیبهشت 1394 - ساعت 13:12
            </span>
            <h4 class="news-title">
              توضیح عضو شورایی پول و اعتبار
            </h4>
            <div class="news-summary">
              بخش مسکن یکی از مهم‌ترین بخش‌های اقتصاد ایران است که به لحاظ داشتن ارتباط گسترده پسین و پیشین با  ...
            </div>
          </div>
        </li>
        <li class="news-item">
          <div class="news-image">
            <img src="./assets/images/news-item.png" alt="" />
          </div>
          <div class="news-info">
            <span class="news-date">
              جمعه - 18 اردیبهشت 1394 - ساعت 13:12
            </span>
            <h4 class="news-title">
              توضیح عضو شورایی پول و اعتبار
            </h4>
            <div class="news-summary">
              بخش مسکن یکی از مهم‌ترین بخش‌های اقتصاد ایران است که به لحاظ داشتن ارتباط گسترده پسین و پیشین با  ...
            </div>
          </div>
        </li>
        <li class="news-item">
          <div class="news-image">
            <img src="./assets/images/news-item.png" alt="" />
          </div>
          <div class="news-info">
            <span class="news-date">
              جمعه - 18 اردیبهشت 1394 - ساعت 13:12
            </span>
            <h4 class="news-title">
              توضیح عضو شورایی پول و اعتبار
            </h4>
            <div class="news-summary">
              بخش مسکن یکی از مهم‌ترین بخش‌های اقتصاد ایران است که به لحاظ داشتن ارتباط گسترده پسین و پیشین با  ...
            </div>
          </div>
        </li>
        <li class="news-item">
          <div class="news-image">
            <img src="./assets/images/news-item.png" alt="" />
          </div>
          <div class="news-info">
            <span class="news-date">
              جمعه - 18 اردیبهشت 1394 - ساعت 13:12
            </span>
            <h4 class="news-title">
              توضیح عضو شورایی پول و اعتبار
            </h4>
            <div class="news-summary">
              بخش مسکن یکی از مهم‌ترین بخش‌های اقتصاد ایران است که به لحاظ داشتن ارتباط گسترده پسین و پیشین با  ...
            </div>
          </div>
        </li>


      </ul>
    </div>
  </div>

</div>