$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


@mixin breakpoint($points...){

  @each $point in $points{
    @if ($point == lg){
      @media (min-width: $screen-lg-min){ @content }
    }
    @else if ($point == md){
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max){ @content }
    }

    @else if ($point == sm){
      @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min){ @content }
    }

    @else if ($point == xs){
      @media (max-width: $screen-xs-max){ @content }
    }
  }
}