
@font-face {
     font-family: 'cocon';
     src: url('../fonts/cocon-light.otf') format('opentype');
font-weight: normal;
font-style: normal;
}


@font-face {
    font-family: 'BMitra';
    src: url('../fonts/BMitra.eot');
    src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BMitra.woff') format('woff'),
         url('../fonts/BMitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMitraBold';
    src: url('../fonts/BMitraBold.eot');
    src: url('../fonts/BMitraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BMitraBold.woff') format('woff'),
         url('../fonts/BMitraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BRoya';
    src: url('../fonts/BRoya.eot');
    src: url('../fonts/BRoya.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BRoya.woff') format('woff'),
         url('../fonts/BRoya.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BTabassom';
    src: url('../fonts/BTabassom.eot');
    src: url('../fonts/BTabassom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTabassom.woff') format('woff'),
         url('../fonts/BTabassom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BTitr';
    src: url('../fonts/BTitr.eot');
    src: url('../fonts/BTitr.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTitr.woff') format('woff'),
         url('../fonts/BTitr.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BTitrTGE';
    src: url('../fonts/BTitrTGE.eot');
    src: url('../fonts/BTitrTGE.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTitrTGE.woff') format('woff'), 
         url('../fonts/BTitrTGE.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot');
    src: url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BYekan.woff') format('woff'),
         url('../fonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BTraffic';
    src: url('../fonts/BTraffic.eot');
    src: url('../fonts/BTraffic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTraffic.woff') format('woff'),
         url('../fonts/BTraffic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


 @font-face {
    font-family: 'BNasim';
    src: url('../fonts/BNasim.eot');
    src: url('../fonts/BNasim.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BNasim.woff') format('woff'),
         url('../fonts/BNasim.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@import 'base/_variables.scss';

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

body {
	font-family: BMitra;
	min-width: $screen-md-min; 
	#main-menu {
		min-width: $screen-md-min;
		height: 60px;
		min-height: 40px;
		// position: fixed;
		// top: 0;
		// right: 0;
		// left: 0;
		text-align: center;
		z-index: 10000;
		height: 60px;
		background-color: #6bcecb;
		border-bottom: 2px solid #f17022;
		transition: height 0.3s;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		-o-transition: height 0.3s;
		-ms-transition: height 0.3s;
		transition-timing-function: ease-in-out;
		-webkit-transition-timing-function: ease-in-out;
		-moz-transition-timing-function: ease-in-out;
		-o-transition-timing-function: ease-in-out;
		-ms-transition-timing-function: ease-in-out;
		margin-bottom: 0;
		.container {
			min-width: $screen-md-min;
			width: 100%;
			padding: 0 20px;
			height: 60px;
			.navbar-header {
				.navbar-brand {
					padding: 0;
					img.logo {
						width: 150px;
						transition: all 0.3s;
						-webkit-transition: all 0.3s;
						-moz-transition: all 0.3s;
						-o-transition: all 0.3s;
						-ms-transition: all 0.3s;
					}
				}
			}

			#main-navigation {
				font-size: 20px;
				margin: auto;
				display: inline-block !important;
				margin-right: -150px;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				height: 60px !important;
				.navbar-nav {
					height: 60px;
					li {
						height: 60px;
						a {
							padding-top: 0;
							padding-bottom: 0;
							line-height: 60px;
							-webkit-transition: all 0.3s;
							-moz-transition: all 0.3s;
							-o-transition: all 0.3s;
							-ms-transition: all 0.3s;
							height: 60px !important;
							color: white;
						}
						&.active, &:hover {
							a {
								border-bottom: 2px solid;	
								-webkit-transition: all 0.3s;
								-moz-transition: all 0.3s;
								-o-transition: all 0.3s;
								-ms-transition: all 0.3s;
								height: 60px !important;

							}
							// &.section-2 {
							// 	a {
							// 		color: #00c140;
							// 	}
							// }
							// &.section-3 {
							// 	a {
							// 		color: #fe7d22;
							// 	}
							// }
							
						}
						&.active {
							a {
								background-color: #f17022;
								border-color: white;
							}
						}
					}
				}
			}
			
		}
		
		&.mini {
			height: 40px !important;
			.container {
				height: 40px;
				.navbar-header {
					.navbar-brand {
						img.logo {
							width: 100px;
						}
					}
				}
				#main-navigation {
					margin-right: -100px;
					height: 40px;
					.navbar-nav {
						height: 40px;
						li {
							height: 40px;
							a {
								line-height: 40px;
								height: 40px !important;
							}
						}
					}
				}
			}
			
		}
	}
	#fullpage {

		.section {
			&#section-1 {
				position: relative;
				.record-list {
					border-bottom: 0;
				}
				&>div {
					padding-top: 60px;
				}
				.main-slideshow {
					#myCarousel {
						.carousel-inner {
							.item {
								.container {
									.carousel-caption {
										font-family: BYekan;
										h1 {
											font-family: BTitrTGE;
										}
									}
								}
							}
						}
					}
				}

				.offer-slider-wrapper {
					margin: auto;
					position: absolute;
					bottom: 20px;
					left: 5%;
					right: 5%;
					height: 20%;
					.item {
						float: right;
						width: 25%;
						.offer-bg {
							height: 100%;
							width: 90%;
							margin: auto;
							background-size: cover;
							background-position: center center;
							// opacity: 0.9;
							transition: 1s;
							-webkit-transition: 1s;
							-moz-transition: 1s;
							-o-transition: 1s;
							-ms-transition: 1s;
							transition: 1s;
							-webkit-transition-property: all;
							-moz-transition-property: all;
							-o-transition-property: all;
							-ms-transition-property: all;

							&:hover {
								opacity: 1;
							}
						}
					}
				}
				
				
			}
			&#section-2 {
				// background-image: url(../images/va.jpg);
				// background-size: cover;
				// background-position: center center;
				.container {
					.description {
						h1 {
							// color: #00c140;
							margin: 0;
							padding-top: 30px;
							padding-bottom: 20px;
							font-size: 60px;
						}
						p { 
							// color: #5D913F;
							font-size: 18px;
							text-align: center;
							margin: auto;
							width: 60%;
						}
					}
					#records-container {
						width: 100%;
						margin: auto;
						.item {
							width: 150px;
							height: 150px;
							background-color: #00c140;
							
						}
					}
				}
			}

			&#section-3 {
				background-color: #f0f0f0;
				.third-section {
					height: 100%;
					.container {
						height: 100%;
						padding-top: 2%;
						#estates-container-first, #estates-container-second {
							width: 100%;
							height: 44%;
							margin-bottom: 2%;
							.section-description {
								width: 48%;
								height: 100%;
								float: right;
								margin-left: 1%;
								margin-right: 1%;
								text-align: center;
								h2 {
									font-size: 4em;
									color: #fe7d22;
									border-bottom: 1px solid;
								}
								p {
									font-size: 1.3em;
									color: #91613F;
								}
							}
							.item {
								width: 23%;
								float: right;
								margin-left: 1%;
								margin-right: 1%;
								// background-color: #fe7d22;
							}
						}
					}
				}
			}

			&#section-4 {
				background-image: url(../images/image.jpg);
				background-size: cover;
				background-position: center;
				background-attachment: fixed;
				.automobiles-description {
					height: 200px;
					h1 {
						margin-top: 0;
						padding-top: 20px;
						margin-bottom: 20px;
						// color: white;
					}
					p {
						color: white;
						font-size: 18px;
						text-align: center;
						margin: auto;
						width: 60%;
					}
				}
				.automobiles {
					// padding-top: 20px;
					button.filter {
						background: white;
						border: 0;
						padding: 9px 15px;
						font-size: 15px;
						margin-right: 20px;
						&:hover, &.active, &:focus {
							background-color: $green;
							color: white;
							outline: none;
							height: initial;
						}
					}
					#automobiles-container {
						padding-top: 20px;
						margin-top: 20px;
						border-top: 2px solid $green;
						height: 75%;
						.mix{
						    display: none;
						    width: 23%;
						    margin-left: 1%;
						    margin-right: 1%;
						    float: right;
						    height: 100%;
						}		
						.automobile-list {

						}
					}	
				}
				 
			}
			&#section-5 {
				background-image: url(../images/store-bg.png);
				min-height: 600px;
				.main-subsection {
					padding-top: 50px;
					.description {
						float: right;
						width: 33%;
						min-height: 250px;
						margin-bottom: 50px;
						.description-inner {

							height: 250px;
							width: 85%;
							margin: auto;
			        h3.stores-section-title {
			          font-family: cocon;
			          margin: 0;
			          color: #f17022;
			          font-size: 33px;
			          text-align: center;
			          font-weight: lighter;
			          .stores-section-title-icon {
			            background-image: url(../images/store-header-icon.png);
			            width: 30px;
			            height: 30px;
			            display: inline-block;
			            margin-right: 20px;
			          }
			        }

			        p.stores-section-description-text {
			          font-family: cocon;
			          color: $green;
			          text-shadow: 1px 1px #222222;
			          font-size: 22px;
			          text-align: center;
			        }
						}

					}
					.store {
						float: right;
						width: 33%;
						min-height: 250px;
						margin-bottom: 50px;
						.store-inner {
							background-color: $green;
							height: 250px;
							width: 85%;
							margin: auto;
			        .store-header {
			          background-color: #e4f6f8;
			          font-family: BMitra;
			          padding-right: 10px;
			          h4.store-header-title {
			            color: #f17022;
			            display: inline-block;
			            width: 100%;
			            font-size: 25px;
			            margin-bottom: 0;
			          }
			          h5.store-header-subtitle {
			            color: #0099cc;
			            display: inline-block;
			            width: 100%;
			            font-size: 20px;
			            margin-top: 0;
			          }
			        }
			        .store-products {
			          ul.products {
			            list-style: none;
			            padding: 0;
			            li {
			              background: white;
			              height: 55px;
			              margin-top: 5px;
			              position: relative;
			              img {
			                height: 55px;
			              }
			              .product-title {
			                font-family: BMitra;
			                font-size: 20px;
			                color: #0099cc;
			              }
			              .product-price {
			                position: absolute;
			                left: 0;
			                top: 0;
			                bottom: 0;
			                width: 90px;
			                font-family: BMitra;
			                color: #f17022;
			                font-size: 17px;
			                line-height: 1;
			                padding-top: 4px;
			              }
			            }
			          }
			        }
						}

					}

				}
			}

			&#section-6 {
			  background-image: url(../images/news-bg.png);
				min-height: 600px;
			  .main-subsection {
			    padding-top: 40px;
			    .section-title {
			      text-align: center;
			      font-family: cocon;
			      color: $green;
			      text-shadow: 1px 1px black;
			      font-size: 35px;
			    }
			    .notification-news {
			      float: right;
			      width: 45%;
			      height: 450px;
			      background-image: url(../images/notification-news.png);
			      margin-top: 20px;
			      background-size: contain;
			      background-repeat: no-repeat;
			      font-family: BMitra;
			      h3.notification-news-title {
			        text-align: center;
			        padding-right: 60px;
			        padding-left: 11px;
			        color: #f17022;
			        font-family: cocon;
			      }
			      p.notification-news-text {
			        padding-right: 80px;
			        padding-left: 31px;
			        color: $green;
			        font-size: 18px;
			      }
			    }
			    .latest-news {
			      float: left;
			      width: 45%;
			      .latest-news-title {
			        font-family: cocon;
			        font-size: 23px;
			        color: #f17022;
			      }
			      .latest-news-list {
			        width: 100%;
			        display: inline-block;
			        padding: 0;
			        list-style: none;
			        li.news-item {
			          display: inline-block;
			          width: 100%;
			          padding: 4px 7px;
			          display: inline-block;
			          width: 100%;
			          background-color: white;
			          margin-top: 10px;
			          .news-image {
			            float: right;
			            width: 15%;
			            img {
			              width: 64px;
			            }
			          }
			          .news-info {
			            float: right;
			            width: 85%;

			            .news-date {
			              color: gray;
			            }
			            .news-title {
			              color: #f17022;
			              margin: 0;
			            }
			            .news-summary {
			              color: $green;
			            }
			          }
			        }
			      }
			    }
			  }
			}

			&#section-8 {
			  background-color: white;
			  min-height: 600px;
			  .main-subsection {
			    min-height: 600px;
			    .container {
			      min-height: 600px;
			      background-image: url(../images/download-app.png);
			      background-repeat: no-repeat;
			      background-position: left bottom;
			      padding-top: 100px;
			      h2.download-app-title {
			        width: 50%;
			        font-family: cocon;
			        font-size: 32px;
			        color: #f17022;
			      }
			      p.download-app-description {
			        width: 50%;
			        color: $green;
			        font-size: 18px;
			      }
			      hr {
			        width: 50%;
			        border-color: #f17022;
			        border-width: 2px;
			        float: right;
			        clear: both;
			      }
			      .download-app-android, .download-app-ios {
			        float: right;
			        clear: both;
			        background-color: #f17022;
			        color: white;
			        padding: 15px 10px;
			        line-height: 25px;
			        font-family: cocon;
			        margin-bottom: 5px;
			        border: 1px solid transparent;
			        h4 {
			          float: right;
			          margin: 0;
			          float: right;
			          margin: 0;
			          font-size: 25px;
			          line-height: 25px;
			          font-family: cocon;
			          margin-left: 10px;
			          color: white;
			        }
			        &:hover {
			          text-decoration: none;
			          background: white;
			          color:#f17022;
			          border: 1px solid #f17022;
			          color: #f17022;
			          h4 {
			          	color: #f17022;
			          }
			        }

			      }
			      .last-update-app {
			        clear: both;
			        float: right;
			        width: 50%;
			        color: $green;
			        font-size: 20px;
			      }

			    }
			  }
			}

			&#section-9 {
			  background-color: $green;
			  min-height: 600px;
			  .main-subsection {
			    min-height: 600px;
			    .container {
			      // min-height: 600px;
			      &>.row {
			        // min-height: 600px;
			        .about-subsection {
			          // min-height: 500px;
			          position: relative;
			          .about-title {
			            margin-top: 50px;
			            color: white;
			            font-family: cocon;
			            font-size: 32px;
			            span {
			              color:#f17022;
			            }
			          }
			          .about-description {
			            font-size: 18px;
			            color: white;
			            padding: 10px 0 0 30px ;
			            text-align: justify;
			          }

			          .social-links {
			            ul {
			              display: inline-block;
			              margin-top: 50px;
			              float: left;
			              margin-left: 30px;
			              li {
			                float: right;
			                list-style: none;
			                margin-right: 10px;
			                a {
			                    width: 40px;
			                    height: 40px;
			                    display: inline-block;
			                    text-align: center;
			                    border-radius: 20px;
			                    background-color: #f17022;
			                    &:hover {
			                      background-color: white;
			                      i.fa {
			                        color: #f17022;
			                      }
			                    }
			                    i.fa {
			                      color: white;
			                      font-size: 20px;
			                      margin-top: 10px;
			                    }
			                }

			              }
			            }
			          }
			        }

			        .contact-subsection {
			          .contact-title {
			            margin-top: 50px;
			            color: white;
			            font-family: cocon;
			            font-size: 32px;
			            span {
			              color:#f17022;
			            }
			          }
			          .contact-form {
			            padding-top: 10px;
			            input, textarea {
			              background-color: transparent;
			              color: white;
			              border-radius: 0;
			              border-top-width: 0;
			              border-right-width: 0;
			              border-left-width: 0;
			              border-color: white;
			              &::-webkit-input-placeholder {
			                 color: white;
			              }

			              &:-moz-placeholder { /* Firefox 18- */
			                 color: white;
			              }

			              &::-moz-placeholder {  /* Firefox 19+ */
			                 color: white;
			              }

			              &:-ms-input-placeholder {
			                 color: white;
			              }

			              -webkit-box-shadow: none;
			              box-shadow: none;
			            }
			          }
			          textarea {
			            height: 200px;
			          }
			          button {
			            font-family: cocon;
			            background-color: #f17022;
			            color: white;
			            border-radius: 0;
			            border: 0;
			          }
			        }
			      }

			    }
			  }
			}

			& > div {
				padding-top: 40px;
			}
			h1 {
				text-align: center;
				// color: white;
			}
			&:nth-child(2n+7) {
				background: blue;
			}
			

		}
	}

	&.register-customer {
		#fullpage {
			margin-top: 30px;
		}
	}
}


h1, h2, h3, h4, h5, h6 {
	font-family: cocon;
	color: $orange;
}




// @media (min-width: $screen-sm-min) { 
// 	body {
// 		#main-menu {
// 			.container {
// 				#main-navigation {
// 					margin: auto;
// 					display: inline-block !important;
// 					margin-right: -150px;
// 					-webkit-transition: all 0.3s;
// 					-moz-transition: all 0.3s;
// 					-o-transition: all 0.3s;
// 					-ms-transition: all 0.3s;
// 					height: 60px !important;
// 					.navbar-nav {
// 						height: 60px;
// 						li {
// 							height: 60px;
// 							a {
// 								padding-top: 0;
// 								padding-bottom: 0;
// 								line-height: 60px;
// 								-webkit-transition: all 0.3s;
// 								-moz-transition: all 0.3s;
// 								-o-transition: all 0.3s;
// 								-ms-transition: all 0.3s;
// 								height: 60px !important;
// 							}
// 						}
// 					}
// 				}
// 			}
// 			&.mini {
// 				height: 40px !important;
// 				.container {
// 					height: 40px;
// 					.navbar-header {
// 						.navbar-brand {
// 							img.logo {
// 								width: 100px;
// 							}
// 						}
// 					}
// 					#main-navigation {
// 						margin-right: -100px;
// 						height: 40px;
// 						.navbar-nav {
// 							height: 40px;
// 							li {
// 								height: 40px;
// 								a {
// 									line-height: 40px;
// 									height: 40px !important;
// 								}
// 							}
// 						}
// 					}
// 				}
				
// 			}
// 		}
// 	}
// }
// 
// 

.record-list {
	background-image: url(../images/1.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	opacity: 0.8;
	border-bottom: 2px solid $orange;
	.record-list-caption {
		position: absolute;
		bottom: -100%;
		right: 0;
		left: 0;
		min-height: 30px;
		background-color: rgba(10,10,10, 0.3);

		color: white;
		text-align: center;

		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		transition: 0.3s;
		-o-transition: 0.3s;

		transition-properti: all;
		-webkit-transition-properti: all;
		-moz-transition-properti: all;
		-ms-transition-properti: all;
		transition-properti: all;
		-o-transition-properti: all;


	}
	&:hover {
		opacity: 1;
		.record-list-caption { 
			bottom: 0;

		}
	}
}


.estate-list {
	background-color: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	border-bottom: 2px solid #fe7d22;
	.estate-photo {
		background-image: url(../images/1.jpg);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 50%;
		opacity: 0.8;
	}
	h4.estate-title {
		line-height: 22px;
		margin: 10px 0px 10px 0px;
		padding: 0px 15px;
		color: #fe7d22;
		font-size: 22px;
	}
	span.estate-description {
		padding: 0px 15px;
		color: #AB998D;	
		width: 100%;
		display: block;
	}

	span.estate-dimension {
		color: #91613F;
		position: absolute;
		bottom: 10px;
		right: 20px;
		font-size: 20px;
	}

	span.estate-extra {
		color: #AB998D;
		position: absolute;
		bottom: 10px;
		left: 20px;
		font-size: 16px;
	}

	&:hover {
		box-shadow: 0 0 1px gray;
		.estate-photo {
			opacity: 1;	
		}
		.record-list-caption { 
			bottom: 0;

		}
	}
}


.automobile-list {
	background-color: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	border-bottom: 2px solid $green;
	.automobile-photo {
		background-image: url(../images/car.jpg);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 65%;
		opacity: 0.8;
	}
	.automobile-title {
		padding: 0 10px;
		color: $green;
	}
	.automobile-price {
		font-size: 25px;
		color: black;
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}