{% extends '::panel_layout.html.twig' %}

{% block body -%}
    <h1>NewsTree creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_newstree') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
