@font-face {
  font-family: 'cocon';
  src: url("../fonts/cocon-light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMitra';
  src: url("../fonts/BMitra.eot");
  src: url("../fonts/BMitra.eot?#iefix") format("embedded-opentype"), url("../fonts/BMitra.woff") format("woff"), url("../fonts/BMitra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMitraBold';
  src: url("../fonts/BMitraBold.eot");
  src: url("../fonts/BMitraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BMitraBold.woff") format("woff"), url("../fonts/BMitraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BRoya';
  src: url("../fonts/BRoya.eot");
  src: url("../fonts/BRoya.eot?#iefix") format("embedded-opentype"), url("../fonts/BRoya.woff") format("woff"), url("../fonts/BRoya.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BTabassom';
  src: url("../fonts/BTabassom.eot");
  src: url("../fonts/BTabassom.eot?#iefix") format("embedded-opentype"), url("../fonts/BTabassom.woff") format("woff"), url("../fonts/BTabassom.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BTitr';
  src: url("../fonts/BTitr.eot");
  src: url("../fonts/BTitr.eot?#iefix") format("embedded-opentype"), url("../fonts/BTitr.woff") format("woff"), url("../fonts/BTitr.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BTitrTGE';
  src: url("../fonts/BTitrTGE.eot");
  src: url("../fonts/BTitrTGE.eot?#iefix") format("embedded-opentype"), url("../fonts/BTitrTGE.woff") format("woff"), url("../fonts/BTitrTGE.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BYekan';
  src: url("../fonts/BYekan.eot");
  src: url("../fonts/BYekan.eot?#iefix") format("embedded-opentype"), url("../fonts/BYekan.woff") format("woff"), url("../fonts/BYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BTraffic';
  src: url("../fonts/BTraffic.eot");
  src: url("../fonts/BTraffic.eot?#iefix") format("embedded-opentype"), url("../fonts/BTraffic.woff") format("woff"), url("../fonts/BTraffic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BNasim';
  src: url("../fonts/BNasim.eot");
  src: url("../fonts/BNasim.eot?#iefix") format("embedded-opentype"), url("../fonts/BNasim.woff") format("woff"), url("../fonts/BNasim.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* line 114, ../sass/style.scss */
body {
  font-family: BMitra;
  min-width: 992px;
}
/* line 117, ../sass/style.scss */
body #main-menu {
  min-width: 992px;
  height: 60px;
  min-height: 40px;
  text-align: center;
  z-index: 10000;
  height: 60px;
  background-color: #6bcecb;
  border-bottom: 2px solid #f17022;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -ms-transition: height 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  margin-bottom: 0;
}
/* line 141, ../sass/style.scss */
body #main-menu .container {
  min-width: 992px;
  width: 100%;
  padding: 0 20px;
  height: 60px;
}
/* line 147, ../sass/style.scss */
body #main-menu .container .navbar-header .navbar-brand {
  padding: 0;
}
/* line 149, ../sass/style.scss */
body #main-menu .container .navbar-header .navbar-brand img.logo {
  width: 150px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
/* line 160, ../sass/style.scss */
body #main-menu .container #main-navigation {
  font-size: 20px;
  margin: auto;
  display: inline-block !important;
  margin-right: -150px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  height: 60px !important;
}
/* line 170, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav {
  height: 60px;
}
/* line 172, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li {
  height: 60px;
}
/* line 174, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  height: 60px !important;
  color: white;
}
/* line 186, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li.active a, body #main-menu .container #main-navigation .navbar-nav li:hover a {
  border-bottom: 2px solid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  height: 60px !important;
}
/* line 208, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li.active a {
  background-color: #f17022;
  border-color: white;
}
/* line 219, ../sass/style.scss */
body #main-menu.mini {
  height: 40px !important;
}
/* line 221, ../sass/style.scss */
body #main-menu.mini .container {
  height: 40px;
}
/* line 225, ../sass/style.scss */
body #main-menu.mini .container .navbar-header .navbar-brand img.logo {
  width: 100px;
}
/* line 230, ../sass/style.scss */
body #main-menu.mini .container #main-navigation {
  margin-right: -100px;
  height: 40px;
}
/* line 233, ../sass/style.scss */
body #main-menu.mini .container #main-navigation .navbar-nav {
  height: 40px;
}
/* line 235, ../sass/style.scss */
body #main-menu.mini .container #main-navigation .navbar-nav li {
  height: 40px;
}
/* line 237, ../sass/style.scss */
body #main-menu.mini .container #main-navigation .navbar-nav li a {
  line-height: 40px;
  height: 40px !important;
}
/* line 251, ../sass/style.scss */
body #fullpage .section#section-1 {
  position: relative;
}
/* line 253, ../sass/style.scss */
body #fullpage .section#section-1 .record-list {
  border-bottom: 0;
}
/* line 256, ../sass/style.scss */
body #fullpage .section#section-1 > div {
  padding-top: 60px;
}
/* line 264, ../sass/style.scss */
body #fullpage .section#section-1 .main-slideshow #myCarousel .carousel-inner .item .container .carousel-caption {
  font-family: BYekan;
}
/* line 266, ../sass/style.scss */
body #fullpage .section#section-1 .main-slideshow #myCarousel .carousel-inner .item .container .carousel-caption h1 {
  font-family: BTitrTGE;
  color: white;
}
/* line 277, ../sass/style.scss */
body #fullpage .section#section-1 .offer-slider-wrapper {
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 5%;
  right: 5%;
  height: 20%;
}
/* line 284, ../sass/style.scss */
body #fullpage .section#section-1 .offer-slider-wrapper .item {
  float: right;
  width: 25%;
}
/* line 287, ../sass/style.scss */
body #fullpage .section#section-1 .offer-slider-wrapper .item .offer-bg {
  height: 100%;
  width: 90%;
  margin: auto;
  background-size: cover;
  background-position: center center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
}
/* line 305, ../sass/style.scss */
body #fullpage .section#section-1 .offer-slider-wrapper .item .offer-bg:hover {
  opacity: 1;
}
/* line 320, ../sass/style.scss */
body #fullpage .section#section-2 .container .description h1 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 60px;
}
/* line 327, ../sass/style.scss */
body #fullpage .section#section-2 .container .description p {
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 60%;
}
/* line 335, ../sass/style.scss */
body #fullpage .section#section-2 .container #records-container {
  width: 100%;
  margin: auto;
}
/* line 338, ../sass/style.scss */
body #fullpage .section#section-2 .container #records-container .item {
  width: 150px;
  height: 150px;
  background-color: #00c140;
}
/* line 348, ../sass/style.scss */
body #fullpage .section#section-3 {
  background-color: #f0f0f0;
}
/* line 350, ../sass/style.scss */
body #fullpage .section#section-3 .third-section {
  height: 100%;
}
/* line 352, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container {
  height: 100%;
  padding-top: 2%;
}
/* line 355, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first, body #fullpage .section#section-3 .third-section .container #estates-container-second {
  width: 100%;
  height: 44%;
  margin-bottom: 2%;
}
/* line 359, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first .section-description, body #fullpage .section#section-3 .third-section .container #estates-container-second .section-description {
  width: 48%;
  height: 100%;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}
/* line 366, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first .section-description h2, body #fullpage .section#section-3 .third-section .container #estates-container-second .section-description h2 {
  font-size: 4em;
  color: #fe7d22;
  border-bottom: 1px solid;
}
/* line 371, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first .section-description p, body #fullpage .section#section-3 .third-section .container #estates-container-second .section-description p {
  font-size: 1.3em;
  color: #91613F;
}
/* line 376, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first .item, body #fullpage .section#section-3 .third-section .container #estates-container-second .item {
  width: 23%;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
}
/* line 388, ../sass/style.scss */
body #fullpage .section#section-4 {
  background-image: url(../images/image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* line 393, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles-description {
  height: 200px;
}
/* line 395, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles-description h1 {
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 20px;
}
/* line 401, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles-description p {
  color: white;
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 60%;
}
/* line 411, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles button.filter {
  background: white;
  border: 0;
  padding: 9px 15px;
  font-size: 15px;
  margin-right: 20px;
}
/* line 417, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles button.filter:hover, body #fullpage .section#section-4 .automobiles button.filter.active, body #fullpage .section#section-4 .automobiles button.filter:focus {
  background-color: #6bcecb;
  color: white;
  outline: none;
  height: initial;
}
/* line 424, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles #automobiles-container {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid #6bcecb;
  height: 75%;
}
/* line 429, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles #automobiles-container .mix {
  display: none;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  float: right;
  height: 100%;
}
/* line 444, ../sass/style.scss */
body #fullpage .section#section-5 {
  background-image: url(../images/store-bg.png);
  min-height: 600px;
}
/* line 447, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection {
  padding-top: 50px;
}
/* line 449, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .description {
  float: right;
  width: 33%;
  min-height: 250px;
  margin-bottom: 50px;
}
/* line 454, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .description .description-inner {
  height: 250px;
  width: 85%;
  margin: auto;
}
/* line 459, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .description .description-inner h3.stores-section-title {
  font-family: cocon;
  margin: 0;
  color: #f17022;
  font-size: 33px;
  text-align: center;
  font-weight: lighter;
}
/* line 466, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .description .description-inner h3.stores-section-title .stores-section-title-icon {
  background-image: url(../images/store-header-icon.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 20px;
}
/* line 475, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .description .description-inner p.stores-section-description-text {
  font-family: cocon;
  color: #6bcecb;
  text-shadow: 1px 1px #222222;
  font-size: 22px;
  text-align: center;
}
/* line 485, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store {
  float: right;
  width: 33%;
  min-height: 250px;
  margin-bottom: 50px;
}
/* line 490, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner {
  background-color: #6bcecb;
  height: 250px;
  width: 85%;
  margin: auto;
}
/* line 495, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner .store-header {
  background-color: #e4f6f8;
  font-family: BMitra;
  padding-right: 10px;
}
/* line 499, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner .store-header h4.store-header-title {
  color: #f17022;
  display: inline-block;
  width: 100%;
  font-size: 25px;
  margin-bottom: 0;
}
/* line 506, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner .store-header h5.store-header-subtitle {
  color: #0099cc;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  margin-top: 0;
}
/* line 515, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner .store-products ul.products {
  list-style: none;
  padding: 0;
}
/* line 518, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner .store-products ul.products li {
  background: white;
  height: 55px;
  margin-top: 5px;
  position: relative;
}
/* line 523, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner .store-products ul.products li img {
  height: 55px;
}
/* line 526, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner .store-products ul.products li .product-title {
  font-family: BMitra;
  font-size: 20px;
  color: #0099cc;
}
/* line 531, ../sass/style.scss */
body #fullpage .section#section-5 .main-subsection .store .store-inner .store-products ul.products li .product-price {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 90px;
  font-family: BMitra;
  color: #f17022;
  font-size: 17px;
  line-height: 1;
  padding-top: 4px;
}
/* line 553, ../sass/style.scss */
body #fullpage .section#section-6 {
  background-image: url(../images/news-bg.png);
  min-height: 600px;
}
/* line 556, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection {
  padding-top: 40px;
}
/* line 558, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .section-title {
  text-align: center;
  font-family: cocon;
  color: #6bcecb;
  text-shadow: 1px 1px black;
  font-size: 35px;
}
/* line 565, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .notification-news {
  float: right;
  width: 45%;
  height: 450px;
  background-image: url(../images/notification-news.png);
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: BMitra;
}
/* line 574, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .notification-news h3.notification-news-title {
  text-align: center;
  padding-right: 60px;
  padding-left: 11px;
  color: #f17022;
  font-family: cocon;
}
/* line 581, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .notification-news p.notification-news-text {
  padding-right: 80px;
  padding-left: 31px;
  color: #6bcecb;
  font-size: 18px;
}
/* line 588, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news {
  float: left;
  width: 45%;
}
/* line 591, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-title {
  font-family: cocon;
  font-size: 23px;
  color: #f17022;
}
/* line 596, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-list {
  width: 100%;
  display: inline-block;
  padding: 0;
  list-style: none;
}
/* line 601, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-list li.news-item {
  display: inline-block;
  width: 100%;
  padding: 4px 7px;
  display: inline-block;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}
/* line 609, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-list li.news-item .news-image {
  float: right;
  width: 15%;
}
/* line 612, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-list li.news-item .news-image img {
  width: 64px;
}
/* line 616, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-list li.news-item .news-info {
  float: right;
  width: 85%;
}
/* line 620, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-list li.news-item .news-info .news-date {
  color: gray;
}
/* line 623, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-list li.news-item .news-info .news-title {
  color: #f17022;
  margin: 0;
}
/* line 627, ../sass/style.scss */
body #fullpage .section#section-6 .main-subsection .latest-news .latest-news-list li.news-item .news-info .news-summary {
  color: #6bcecb;
}
/* line 637, ../sass/style.scss */
body #fullpage .section#section-8 {
  background-color: white;
  min-height: 600px;
}
/* line 640, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection {
  min-height: 600px;
}
/* line 642, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container {
  min-height: 600px;
  background-image: url(../images/download-app.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 100px;
}
/* line 648, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container h2.download-app-title {
  width: 50%;
  font-family: cocon;
  font-size: 32px;
  color: #f17022;
}
/* line 654, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container p.download-app-description {
  width: 50%;
  color: #6bcecb;
  font-size: 18px;
}
/* line 659, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container hr {
  width: 50%;
  border-color: #f17022;
  border-width: 2px;
  float: right;
  clear: both;
}
/* line 666, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container .download-app-android, body #fullpage .section#section-8 .main-subsection .container .download-app-ios {
  float: right;
  clear: both;
  background-color: #f17022;
  color: white;
  padding: 15px 10px;
  line-height: 25px;
  font-family: cocon;
  margin-bottom: 5px;
  border: 1px solid transparent;
}
/* line 676, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container .download-app-android h4, body #fullpage .section#section-8 .main-subsection .container .download-app-ios h4 {
  float: right;
  margin: 0;
  float: right;
  margin: 0;
  font-size: 25px;
  line-height: 25px;
  font-family: cocon;
  margin-left: 10px;
  color: white;
}
/* line 687, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container .download-app-android:hover, body #fullpage .section#section-8 .main-subsection .container .download-app-ios:hover {
  text-decoration: none;
  background: white;
  color: #f17022;
  border: 1px solid #f17022;
  color: #f17022;
}
/* line 693, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container .download-app-android:hover h4, body #fullpage .section#section-8 .main-subsection .container .download-app-ios:hover h4 {
  color: #f17022;
}
/* line 699, ../sass/style.scss */
body #fullpage .section#section-8 .main-subsection .container .last-update-app {
  clear: both;
  float: right;
  width: 50%;
  color: #6bcecb;
  font-size: 20px;
}
/* line 711, ../sass/style.scss */
body #fullpage .section#section-9 {
  background-color: #6bcecb;
  min-height: 600px;
}
/* line 714, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection {
  min-height: 600px;
}
/* line 720, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection {
  position: relative;
}
/* line 723, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .about-title {
  margin-top: 50px;
  color: white;
  font-family: cocon;
  font-size: 32px;
}
/* line 728, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .about-title span {
  color: #f17022;
}
/* line 732, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .about-description {
  font-size: 18px;
  color: white;
  padding: 10px 0 0 30px;
  text-align: justify;
}
/* line 740, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .social-links ul {
  display: inline-block;
  margin-top: 50px;
  float: left;
  margin-left: 30px;
}
/* line 745, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .social-links ul li {
  float: right;
  list-style: none;
  margin-right: 10px;
}
/* line 749, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .social-links ul li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  background-color: #f17022;
}
/* line 756, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .social-links ul li a:hover {
  background-color: white;
}
/* line 758, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .social-links ul li a:hover i.fa {
  color: #f17022;
}
/* line 762, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .about-subsection .social-links ul li a i.fa {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
/* line 775, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-title {
  margin-top: 50px;
  color: white;
  font-family: cocon;
  font-size: 32px;
}
/* line 780, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-title span {
  color: #f17022;
}
/* line 784, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form {
  padding-top: 10px;
}
/* line 786, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form input, body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form textarea {
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 794, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form input::-webkit-input-placeholder, body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form textarea::-webkit-input-placeholder {
  color: white;
}
/* line 798, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form input:-moz-placeholder, body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
/* line 802, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form input::-moz-placeholder, body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
/* line 806, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form input:-ms-input-placeholder, body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection .contact-form textarea:-ms-input-placeholder {
  color: white;
}
/* line 814, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection textarea {
  height: 200px;
}
/* line 817, ../sass/style.scss */
body #fullpage .section#section-9 .main-subsection .container > .row .contact-subsection button {
  font-family: cocon;
  background-color: #f17022;
  color: white;
  border-radius: 0;
  border: 0;
}
/* line 831, ../sass/style.scss */
body #fullpage .section > div {
  padding-top: 40px;
}
/* line 834, ../sass/style.scss */
body #fullpage .section h1 {
  text-align: center;
}
/* line 838, ../sass/style.scss */
body #fullpage .section:nth-child(2n+7) {
  background: blue;
}
/* line 847, ../sass/style.scss */
body.register-customer #fullpage {
  margin-top: 30px;
}

/* line 854, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: cocon;
  color: #f17022;
}

/* line 927, ../sass/style.scss */
.record-list {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0.8;
  border-bottom: 2px solid #f17022;
}
/* line 937, ../sass/style.scss */
.record-list .record-list-caption {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  min-height: 30px;
  background-color: rgba(10, 10, 10, 0.3);
  color: white;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -o-transition: 0.3s;
  transition-properti: all;
  -webkit-transition-properti: all;
  -moz-transition-properti: all;
  -ms-transition-properti: all;
  transition-properti: all;
  -o-transition-properti: all;
}
/* line 964, ../sass/style.scss */
.record-list:hover {
  opacity: 1;
}
/* line 966, ../sass/style.scss */
.record-list:hover .record-list-caption {
  bottom: 0;
}

/* line 974, ../sass/style.scss */
.estate-list {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #fe7d22;
}
/* line 981, ../sass/style.scss */
.estate-list .estate-photo {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  opacity: 0.8;
}
/* line 989, ../sass/style.scss */
.estate-list h4.estate-title {
  line-height: 22px;
  margin: 10px 0px 10px 0px;
  padding: 0px 15px;
  color: #fe7d22;
  font-size: 22px;
}
/* line 996, ../sass/style.scss */
.estate-list span.estate-description {
  padding: 0px 15px;
  color: #AB998D;
  width: 100%;
  display: block;
}
/* line 1003, ../sass/style.scss */
.estate-list span.estate-dimension {
  color: #91613F;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 20px;
}
/* line 1011, ../sass/style.scss */
.estate-list span.estate-extra {
  color: #AB998D;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 16px;
}
/* line 1019, ../sass/style.scss */
.estate-list:hover {
  box-shadow: 0 0 1px gray;
}
/* line 1021, ../sass/style.scss */
.estate-list:hover .estate-photo {
  opacity: 1;
}
/* line 1024, ../sass/style.scss */
.estate-list:hover .record-list-caption {
  bottom: 0;
}

/* line 1032, ../sass/style.scss */
.automobile-list {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #6bcecb;
}
/* line 1039, ../sass/style.scss */
.automobile-list .automobile-photo {
  background-image: url(../images/car.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65%;
  opacity: 0.8;
}
/* line 1047, ../sass/style.scss */
.automobile-list .automobile-title {
  padding: 0 10px;
  color: #6bcecb;
}
/* line 1051, ../sass/style.scss */
.automobile-list .automobile-price {
  font-size: 25px;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
