@font-face {
  font-family: 'BMitra';
  src: url("../fonts/BMitra.eot");
  src: url("../fonts/BMitra.eot?#iefix") format("embedded-opentype"), url("../fonts/BMitra.woff") format("woff"), url("../fonts/BMitra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMitraBold';
  src: url("../fonts/BMitraBold.eot");
  src: url("../fonts/BMitraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BMitraBold.woff") format("woff"), url("../fonts/BMitraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BRoya';
  src: url("../fonts/BRoya.eot");
  src: url("../fonts/BRoya.eot?#iefix") format("embedded-opentype"), url("../fonts/BRoya.woff") format("woff"), url("../fonts/BRoya.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BTabassom';
  src: url("../fonts/BTabassom.eot");
  src: url("../fonts/BTabassom.eot?#iefix") format("embedded-opentype"), url("../fonts/BTabassom.woff") format("woff"), url("../fonts/BTabassom.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BTitr';
  src: url("../fonts/BTitr.eot");
  src: url("../fonts/BTitr.eot?#iefix") format("embedded-opentype"), url("../fonts/BTitr.woff") format("woff"), url("../fonts/BTitr.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BTitrTGE';
  src: url("../fonts/BTitrTGE.eot");
  src: url("../fonts/BTitrTGE.eot?#iefix") format("embedded-opentype"), url("../fonts/BTitrTGE.woff") format("woff"), url("../fonts/BTitrTGE.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BYekan';
  src: url("../fonts/BYekan.eot");
  src: url("../fonts/BYekan.eot?#iefix") format("embedded-opentype"), url("../fonts/BYekan.woff") format("woff"), url("../fonts/BYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BTraffic';
  src: url("../fonts/BTraffic.eot");
  src: url("../fonts/BTraffic.eot?#iefix") format("embedded-opentype"), url("../fonts/BTraffic.woff") format("woff"), url("../fonts/BTraffic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BNasim';
  src: url("../fonts/BNasim.eot");
  src: url("../fonts/BNasim.eot?#iefix") format("embedded-opentype"), url("../fonts/BNasim.woff") format("woff"), url("../fonts/BNasim.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* line 104, ../sass/style.scss */
body {
  font-family: BMitra;
  min-width: 992px;
}
/* line 107, ../sass/style.scss */
body #main-menu {
  min-width: 992px;
  height: 60px;
  min-height: 40px;
  text-align: center;
  z-index: 10000;
  height: 60px;
  background-color: #fafafa;
  border-bottom: 2px solid #bababa;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -ms-transition: height 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  margin-bottom: 0;
}
/* line 131, ../sass/style.scss */
body #main-menu .container {
  min-width: 992px;
  width: 100%;
  padding: 0 20px;
  height: 60px;
}
/* line 137, ../sass/style.scss */
body #main-menu .container .navbar-header .navbar-brand {
  padding: 0;
}
/* line 139, ../sass/style.scss */
body #main-menu .container .navbar-header .navbar-brand img.logo {
  width: 150px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
/* line 150, ../sass/style.scss */
body #main-menu .container #main-navigation {
  font-size: 20px;
  margin: auto;
  display: inline-block !important;
  margin-right: -150px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  height: 60px !important;
}
/* line 160, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav {
  height: 60px;
}
/* line 162, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li {
  height: 60px;
}
/* line 164, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  height: 60px !important;
}
/* line 175, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li.active a {
  border-bottom: 2px solid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  height: 60px !important;
}
/* line 184, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li.active.section-2 a {
  color: #00c140;
}
/* line 189, ../sass/style.scss */
body #main-menu .container #main-navigation .navbar-nav li.active.section-3 a {
  color: #fe7d22;
}
/* line 201, ../sass/style.scss */
body #main-menu.mini {
  height: 40px !important;
}
/* line 203, ../sass/style.scss */
body #main-menu.mini .container {
  height: 40px;
}
/* line 207, ../sass/style.scss */
body #main-menu.mini .container .navbar-header .navbar-brand img.logo {
  width: 100px;
}
/* line 212, ../sass/style.scss */
body #main-menu.mini .container #main-navigation {
  margin-right: -100px;
  height: 40px;
}
/* line 215, ../sass/style.scss */
body #main-menu.mini .container #main-navigation .navbar-nav {
  height: 40px;
}
/* line 217, ../sass/style.scss */
body #main-menu.mini .container #main-navigation .navbar-nav li {
  height: 40px;
}
/* line 219, ../sass/style.scss */
body #main-menu.mini .container #main-navigation .navbar-nav li a {
  line-height: 40px;
  height: 40px !important;
}
/* line 233, ../sass/style.scss */
body #fullpage .section#section-1 {
  position: relative;
}
/* line 235, ../sass/style.scss */
body #fullpage .section#section-1 .record-list {
  border-bottom: 0;
}
/* line 238, ../sass/style.scss */
body #fullpage .section#section-1 > div {
  padding-top: 60px;
}
/* line 246, ../sass/style.scss */
body #fullpage .section#section-1 .main-slideshow #myCarousel .carousel-inner .item .container .carousel-caption {
  font-family: BYekan;
}
/* line 248, ../sass/style.scss */
body #fullpage .section#section-1 .main-slideshow #myCarousel .carousel-inner .item .container .carousel-caption h1 {
  font-family: BTitrTGE;
}
/* line 258, ../sass/style.scss */
body #fullpage .section#section-1 .offer-slider-wrapper {
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 5%;
  right: 5%;
  height: 20%;
}
/* line 265, ../sass/style.scss */
body #fullpage .section#section-1 .offer-slider-wrapper .item {
  float: right;
  width: 25%;
}
/* line 268, ../sass/style.scss */
body #fullpage .section#section-1 .offer-slider-wrapper .item .offer-bg {
  height: 100%;
  width: 90%;
  margin: auto;
  background-size: cover;
  background-position: center center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
}
/* line 286, ../sass/style.scss */
body #fullpage .section#section-1 .offer-slider-wrapper .item .offer-bg:hover {
  opacity: 1;
}
/* line 301, ../sass/style.scss */
body #fullpage .section#section-2 .container .description h1 {
  color: #00c140;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 60px;
}
/* line 308, ../sass/style.scss */
body #fullpage .section#section-2 .container .description p {
  color: #5D913F;
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 60%;
}
/* line 316, ../sass/style.scss */
body #fullpage .section#section-2 .container #records-container {
  width: 100%;
  margin: auto;
}
/* line 319, ../sass/style.scss */
body #fullpage .section#section-2 .container #records-container .item {
  width: 150px;
  height: 150px;
  background-color: #00c140;
}
/* line 329, ../sass/style.scss */
body #fullpage .section#section-3 {
  background-color: #f0f0f0;
}
/* line 331, ../sass/style.scss */
body #fullpage .section#section-3 .third-section {
  height: 100%;
}
/* line 333, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container {
  height: 100%;
  padding-top: 2%;
}
/* line 336, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first, body #fullpage .section#section-3 .third-section .container #estates-container-second {
  width: 100%;
  height: 44%;
  margin-bottom: 2%;
}
/* line 340, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first .section-description, body #fullpage .section#section-3 .third-section .container #estates-container-second .section-description {
  width: 48%;
  height: 100%;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}
/* line 347, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first .section-description h2, body #fullpage .section#section-3 .third-section .container #estates-container-second .section-description h2 {
  font-size: 4em;
  color: #fe7d22;
  border-bottom: 1px solid;
}
/* line 352, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first .section-description p, body #fullpage .section#section-3 .third-section .container #estates-container-second .section-description p {
  font-size: 1.3em;
  color: #91613F;
}
/* line 357, ../sass/style.scss */
body #fullpage .section#section-3 .third-section .container #estates-container-first .item, body #fullpage .section#section-3 .third-section .container #estates-container-second .item {
  width: 23%;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
}
/* line 369, ../sass/style.scss */
body #fullpage .section#section-4 {
  background-image: url(../images/image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* line 374, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles-description {
  height: 200px;
}
/* line 376, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles-description h1 {
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 20px;
  color: white;
}
/* line 382, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles-description p {
  color: white;
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 60%;
}
/* line 392, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles button.filter {
  background: white;
  border: 0;
  padding: 9px 15px;
  font-size: 15px;
  margin-right: 20px;
}
/* line 398, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles button.filter:hover, body #fullpage .section#section-4 .automobiles button.filter.active, body #fullpage .section#section-4 .automobiles button.filter:focus {
  background-color: #008be4;
  color: white;
  outline: none;
  height: initial;
}
/* line 405, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles #automobiles-container {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid #008be4;
  height: 75%;
}
/* line 410, ../sass/style.scss */
body #fullpage .section#section-4 .automobiles #automobiles-container .mix {
  display: none;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  float: right;
  height: 100%;
}
/* line 425, ../sass/style.scss */
body #fullpage .section > div {
  padding-top: 40px;
}
/* line 428, ../sass/style.scss */
body #fullpage .section h1 {
  text-align: center;
  color: white;
}
/* line 432, ../sass/style.scss */
body #fullpage .section:nth-child(2n+5) {
  background: blue;
}
/* line 435, ../sass/style.scss */
body #fullpage .section:nth-child(2n+6) {
  background: red;
}
/* line 443, ../sass/style.scss */
body.register-customer #fullpage {
  margin-top: 30px;
}

/* line 450, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: BMitra;
}

/* line 522, ../sass/style.scss */
.record-list {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0.8;
  border-bottom: 2px solid #00c140;
}
/* line 532, ../sass/style.scss */
.record-list .record-list-caption {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  min-height: 30px;
  background-color: rgba(10, 10, 10, 0.3);
  color: white;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -o-transition: 0.3s;
  transition-properti: all;
  -webkit-transition-properti: all;
  -moz-transition-properti: all;
  -ms-transition-properti: all;
  transition-properti: all;
  -o-transition-properti: all;
}
/* line 559, ../sass/style.scss */
.record-list:hover {
  opacity: 1;
}
/* line 561, ../sass/style.scss */
.record-list:hover .record-list-caption {
  bottom: 0;
}

/* line 569, ../sass/style.scss */
.estate-list {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #fe7d22;
}
/* line 576, ../sass/style.scss */
.estate-list .estate-photo {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  opacity: 0.8;
}
/* line 584, ../sass/style.scss */
.estate-list h4.estate-title {
  line-height: 22px;
  margin: 10px 0px 10px 0px;
  padding: 0px 15px;
  color: #fe7d22;
  font-size: 22px;
}
/* line 591, ../sass/style.scss */
.estate-list span.estate-description {
  padding: 0px 15px;
  color: #AB998D;
  width: 100%;
  display: block;
}
/* line 598, ../sass/style.scss */
.estate-list span.estate-dimension {
  color: #91613F;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 20px;
}
/* line 606, ../sass/style.scss */
.estate-list span.estate-extra {
  color: #AB998D;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 16px;
}
/* line 614, ../sass/style.scss */
.estate-list:hover {
  box-shadow: 0 0 1px gray;
}
/* line 616, ../sass/style.scss */
.estate-list:hover .estate-photo {
  opacity: 1;
}
/* line 619, ../sass/style.scss */
.estate-list:hover .record-list-caption {
  bottom: 0;
}

/* line 627, ../sass/style.scss */
.automobile-list {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #008be4;
}
/* line 634, ../sass/style.scss */
.automobile-list .automobile-photo {
  background-image: url(../images/car.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65%;
  opacity: 0.8;
}
/* line 642, ../sass/style.scss */
.automobile-list .automobile-title {
  padding: 0 10px;
  color: #008be4;
}
/* line 646, ../sass/style.scss */
.automobile-list .automobile-price {
  font-size: 25px;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
