<div class="panel panel-primary comments">

    <div class="panel-body">
        {{ sonata_block_render({'type': 'darkish_website.block.comment'},{
            'entity_type': 'itinerary',
            'id': itinerary.id
        }) }}
    </div>

</div>