<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Darkish Music Player</title>
</head>
<body>
<script src="{{ asset('bundles/darkishwebsite/bower_components/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/cookies-js/dist/cookies.min.js') }}"></script>
<script src="{{ asset('bundles/darkishwebsite/js/music-player.js') }}"></script>
</body>
</html>