<div class="offer-wrapper">
    {{ sonata_block_render({
        'type': 'darkish_website.block.offer'
    }) }}
</div>
<div class="footer-wrapper">
    <div class="container-fluid">
        <div class="col col-xs-12 col-sm-3 contact">
            <div>
                <div class="footer-box-title">
                    ارتباط با
                    <span>
                        ما
                    </span>
                </div>
                <div class="footer-box-body">
                    <p>
                        اگه میخوای با ما در ارتباط باشی،
                    </p>
                    <label>
                        یا زنگ بزن به شماره :
                    </label>
                    <span dir="ltr">
                        ۰۷۶ ۴۴۴۲ ۵۵۱۸
                    </span>
                    <br/>
                    <label>
                        یا ایمیل بزن به :
                    </label>
                    <span dir="ltr">
                        info@darkish.ir
                    </span>
                    <br/>
                    <label class="contact-link-label">
                        یا همین جا برامون پیام بذار
                    </label>
                    <a class="btn btn-sm contact-button">
                        ارسال پیام
                    </a>
                </div>
            </div>

        </div>
        <div class="col col-xs-12 col-sm-3 about">
            <div>
                <div class="footer-box-title">
درباره
                    <span>
                        ما
                    </span>
                </div>
                <div class="footer-box-body">
                    متن درباره ما متن درباره ما متن درباره مامتن درباره ما متن درباره ما متن درباره مامتن درباره ما متن درباره ما متن درباره مامتن درباره ما متن درباره ما متن درباره ما
                </div>
            </div>
        </div>
        <div class="col col-xs-12 col-sm-3 weather">
            <div>
                {{ sonata_block_render({
                    'type': 'darkish_website.block.weather'
                }) }}
            </div>
        </div>
        <div class="col col-xs-12 col-sm-3 links">
            <div>
                <div class="footer-box-title">
                    پیوند های
                    <span>
                        مفید
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-wrapper">
    <div class="container">
        <div class="col-xs-12 col-sm-8 copyright">
            کلیه حقوق مادی و معنوی این وبسایت متعلق به درکیش میباشد.
        </div>
        <div class="col-xs-12 col-sm-4 social-link">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>