<div class="estate-list">
	<div class="estate-photo">
	</div>
	<h4 class="estate-title">
		خانه لوکس در بهترین منطقه
	</h4>
	<span class="estate-description">
		این خونه بهترین خوب چیزیه خیلیم عالیه شما هم خودت گلهای گلی
	</span>
	<span class="estate-dimension">
		۱۲۰ متر
	</span>
	<span class="estate-extra">
		مبله - ۲ خوابه
	</span>
</div>